<div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/views/imports/navbar.html`)</script>
  <div style="width: 100vw; height: 100vh; background: url('/public/images/metas.png'); background-position: center; background-size: cover; color: var(--color-reverse)">
</div>

<div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
  <a class="font-1 font-color-reverse" style="font-size: 10vh; font-weight: 800">METAS DA CON</a>
  <a class="font-1 buttonLogin" style="margin-top: 5vh; padding-inline: 1.5vw; padding-block: 1.5vh; font-size: 3.5vh; font-weight: 600; border-radius: 1.5vh">Meta Consultor</a>
  <a class="font-1 buttonLogin" style="margin-top: 2vh; padding-inline: 1.5vw; padding-block: 1.5vh; font-size: 3.5vh; font-weight: 600; border-radius: 1.5vh">Meta Empresa</a>
  <a class="font-1 buttonLogin" style="margin-top: 2vh; padding-inline: 1.5vw; padding-block: 1.5vh; font-size: 3.5vh; font-weight: 600; border-radius: 1.5vh">Ranking Novo</a>
</div>