<div id="propostasPage" style="max-height: 100vh; overflow: auto; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/imports/navbar.html`)</script>
  <div class="background-image margin-left18-5 width79 " style="margin-top: 12.5vh; margin-left: 6vw; width: 92.5vw; height: 20%; border-radius: 2vh;display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <a style="font-size: 3vh">Configurações</a>
    <div style="display: flex; width: 100%; justify-content: center; align-items: center">
      <a id="Configs" onclick="getMenu('Configs')" class="buttonLogin width50p buttonBlock" style="width: 15%; margin-inline: 0.5vw; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Configs</a>
      <a id="Roles" onclick="getMenu('Roles')" class="buttonLogin width50p buttonBlock" style="width: 15%; margin-inline: 0.5vw; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Cargos</a>
      <a id="Esteiras" onclick="getMenu('Esteiras')" class="buttonLogin width50p buttonBlock" style="width: 15%; margin-inline: 0.5vw; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Esteiras</a>
    </div>
  </div>
  <div class="background-image margin-left18-5 width79 " style="margin-top: 2vh; margin-left: 6vw; width: 92.5vw; height: 13%; border-radius: 2vh;display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <fieldset title="Pesquise algum funcionario por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 45%; margin-inline: 1%; padding-inline: 1%;">
      <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Pesquisar</legend>
      <input onkeyup="searchBar(this)" id="searchBar" placeholder="Pesquise aqui..." style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 3.5vh; background: transparent; border: 0">
    </fieldset>
    <i onclick="searchBar({ id: 'searchBar' })" class="fa-regular fa-magnifying-glass-dollar" style="cursor: pointer; font-size: 3.5vh; margin-top: 1.3vh;"></i>
  </div>

  <div id="result" class="background-image margin-left18-5 width79 " style="margin-top: 2vh; margin-left: 6vw; width: 92.5vw; min-height: 42.5%; border-top-left-radius: 2vh; border-top-right-radius: 2vh; display: flex; flex-direction: column; align-items: center; padding-block: 4vh">

  </div>
  <div id="menuPropostas"></div>
</div>

<script>
  var menuPropostaActual = false
  var getBlock = false
  var menus = [ { menu: "Configs", block: true }, { menu: "Roles", block: true }, { menu: "Esteiras", block: true } ]
  function getMenu(button) {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    if (getBlock) return alert('Aguarde...')
    if (document.getElementById(button).classList.contains('buttonBlock') || getBlock) return alert('Sem permissão...')
    menus.filter(r=> !r.block).forEach(r=>{ document.getElementById(r.menu).classList.add('buttonBlock') })
    document.getElementById('result').innerHTML = `<div class="loader-wheel"></div><div class="loader-text font-5"></div>`
    getBlock = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/get`,
      data: JSON.stringify({ user: localStorage.getItem('user'), password: localStorage.getItem('password'), menu: button }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        getBlock = false
        document.getElementById('result').innerHTML = ``
        menus.filter(r=> r.menu != button && !r.block).forEach(r=>{ document.getElementById(r.menu).classList.remove('buttonBlock') })
        if (s.error) return alert(s.error)
        if (button == "Configs") {
          s.configs.forEach((element,index)=>{
            var menuSet = element.menu
            if (!document.getElementById(element.menu)) document.getElementById('result').innerHTML += `<div id="${element.menu}" style="width: 100%; display: flex; flex-direction: row; justify-content: center"></div>`
            if (element.type == 'checkbox') {
              document.getElementById(menuSet).innerHTML += `<result style="width: 25%; margin-inline: 1%">
                <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
                  <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
                    <div style="width: 100%; display: flex; justify-content: center">
                      <div id="${element.id}_activeS" onclick="inputChecked('${element.id}_active')" class="slider">
                        <div id="${element.id}_activeB" class="sliderB"></div>
                      </div>
                    </div>
                    <input id="${element.id}_active" value='0' type='hidden'>
                  <i onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid fa-floppy-disk font-color-navbar"></i>
                </fieldset>
              </result>`
              if (element.value == 1) inputChecked(`${element.id}_active`)
            } else if (element.type == 'input') {
              document.getElementById(menuSet).innerHTML += `<result style="width: 25%; margin-inline: 1%">
                <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
                  <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
                  <input id="${element.id}_active" type="text" class="font-1" value="${element.value}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
                  <i title="Salvar" onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
                </fieldset>
              </result>`
            } else if (element.type == 'textarea') {
              document.getElementById(menuSet).innerHTML += `<result style="width: 25%; margin-inline: 1%">
                <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
                  <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
                  <textarea id="${element.id}_active" rows="1" class="font-1" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">${String(element.value).replace('null','Não Definido...')}</textarea>
                  <i title="Salvar" onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
                </fieldset>
              </result>`
            } else if (element.type == 'password') {
              document.getElementById(menuSet).innerHTML += `<result style="width: 25%; margin-inline: 1%">
                <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
                  <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
                  <input id="${element.id}_active" type="password" class="font-1" value="${element.value}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
                  <i title="Salvar" onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
                </fieldset>
              </result>`
            } else if (element.type == 'number') {
              document.getElementById(menuSet).innerHTML += `<result style="width: 25%; margin-inline: 1%">
                <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
                  <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
                  <input id="${element.id}_active" type="number" class="font-1" value="${element.value}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0" ${element.block ? 'disabled' : ''}>
                  <i title="${element.block ? 'Zerar' : 'Salvar'}" onclick="document.getElementById('${element.id}_active').value = 0; saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
                </fieldset>
              </result>`
            }
          })
        } else if (button == "Roles") {
          document.getElementById('result').innerHTML += `<div class="font-color-navbar background-reverse" style="z-index: 5; cursor: pointer; position: fixed; bottom: 2vh; right: 3vw; padding-block: 1vh; display: flex; align-items: center; justify-content: center; border-radius: 2vh"><fieldset id="fieldset" title="Novo Cargo..." style="text-align: left; padding: 0; border-radius: 0.6vh; width: 60%; margin-inline: 1%; padding-inline: 1%; margin-right: 1vw;"><legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Novo Cargo</legend><input class="font-1 font-color-reverse" placeholder="Nome do Cargo" id="newRoleInput" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0"></fieldset><i class="fa-regular fa-file-circle-plus" style="font-size: 4vh; margin-top: 1vh" onclick="create('Roles', document.getElementById('newRoleInput').value)"></i></div></div>`
          s.roles.forEach((element,index)=>{
            document.getElementById('result').innerHTML += `<result style="width: 90%">
              <div class="background-Propostas" style="border-radius: 1.5vh; margin-block: 1.5vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 0.8vh">
                <div class="line-bottom navbar-font-color font-4" style="position: relative; width: 100%; display: flex; justify-content: center; align-items: center; height: 6vh; font-size: 2.2vh">
                  <a title="${element.role}" style="max-width: 40%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
                    <i class="fa-regular fa-user-tag font-size2"></i>
                    <span class="invisibleAndroid"> Cargo: </span>
                    ${element.role}
                  </a>
                  <a title="${element.agente}" style="max-width: 40%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
                    <i class="fa-regular fa-user-tag font-size2"></i>
                    <span class="invisibleAndroid"> Criador: </span>
                    ${element.agente}
                  </a>
                  <i style="position: absolute; right: 1.5vw; cursor: pointer" onclick="menuPropostas(this, '${index}','${element.role}')" class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <div class="flex-direction-column" style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 11%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Funcionários</legend>
                    <div id="${index}_administrativo_funcionariosS" onclick="inputChecked('${index}_administrativo_funcionarios')" class="slider">
                      <div id="${index}_administrativo_funcionariosB" class="sliderB"></div>
                    </div>
                    <input id="${index}_administrativo_funcionarios" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Configs</legend>
                    <div id="${index}_administrativo_configsS" onclick="inputChecked('${index}_administrativo_configs')" class="slider">
                      <div id="${index}_administrativo_configsB" class="sliderB"></div>
                    </div>
                    <input id="${index}_administrativo_configs" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Logs</legend>
                    <div id="${index}_administrativo_logsS" onclick="inputChecked('${index}_administrativo_logs')" class="slider">
                      <div id="${index}_administrativo_logsB" class="sliderB"></div>
                    </div>
                    <input id="${index}_administrativo_logs" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Cargos</legend>
                    <div id="${index}_administrativo_rolesS" onclick="inputChecked('${index}_administrativo_roles')" class="slider">
                      <div id="${index}_administrativo_rolesB" class="sliderB"></div>
                    </div>
                    <input id="${index}_administrativo_roles" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 13%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Relatórios ADM</legend>
                    <div id="${index}_administrativo_relatoriosS" onclick="inputChecked('${index}_administrativo_relatorios')" class="slider">
                      <div id="${index}_administrativo_relatoriosB" class="sliderB"></div>
                    </div>
                    <input id="${index}_administrativo_relatorios" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 13%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Relatór. Empresa</legend>
                    <div id="${index}_administrativo_empresaS" onclick="inputChecked('${index}_administrativo_empresa')" class="slider">
                      <div id="${index}_administrativo_empresaB" class="sliderB"></div>
                    </div>
                    <input id="${index}_administrativo_empresa" value='0' type='hidden'>
                  </fieldset>
                </div>
                <div class="flex-direction-column" style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 11.5%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Lista de Prop.</legend>
                    <div id="${index}_propostas_listaS" onclick="inputChecked('${index}_propostas_lista')" class="slider">
                      <div id="${index}_propostas_listaB" class="sliderB"></div>
                    </div>
                    <input id="${index}_propostas_lista" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Nova Prop.</legend>
                    <div id="${index}_propostas_cadastrarS" onclick="inputChecked('${index}_propostas_cadastrar')" class="slider">
                      <div id="${index}_propostas_cadastrarB" class="sliderB"></div>
                    </div>
                    <input id="${index}_propostas_cadastrar" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 11%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Lista de Leads</legend>
                    <div id="${index}_propostas_leadsS" onclick="inputChecked('${index}_propostas_leads')" class="slider">
                      <div id="${index}_propostas_leadsB" class="sliderB"></div>
                    </div>
                    <input id="${index}_propostas_leads" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 13%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Consultas FGTS</legend>
                    <div id="${index}_consultas_fgtsS" onclick="inputChecked('${index}_consultas_fgts')" class="slider">
                      <div id="${index}_consultas_fgtsB" class="sliderB"></div>
                    </div>
                    <input id="${index}_consultas_fgts" value='0' type='hidden'>
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Lotes</legend>
                    <div id="${index}_consultas_lotesS" onclick="inputChecked('${index}_consultas_lotes')" class="slider">
                      <div id="${index}_consultas_lotesB" class="sliderB"></div>
                    </div>
                    <input id="${index}_consultas_lotes" value='0' type='hidden'>
                  </fieldset>
                </div>
              </div>
            </result>`
            for (var key in s.roles[index]) {
              if(s.roles[index][key] == 1 && document.getElementById(`${index}_${key}`)) {
                inputChecked(`${index}_${key}`)
              }
            }
          })
        } else if (button == "Esteiras") {
          s.fases.forEach((element,index)=>{
            document.getElementById('result').innerHTML += `<result style="width: 90%">
              <div class="background-Propostas" style="border-radius: 1.5vh; margin-block: 1.5vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 1.5vh">
                <div class="line-bottom navbar-font-color font-4" style="position: relative; width: 100%; display: flex; justify-content: center; align-items: center; height: 6vh; font-size: 2.2vh">
                  <a title="${element.bank}" style="max-width: 20%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
                    <i class="fa-regular fa-user-tag font-size2"></i>
                    <span class="invisibleAndroid"> Banco: </span>
                    ${element.bank}
                  </a>
                  <a title="${element.situacao}" style="max-width: 20%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
                    <i class="fa-regular fa-user-tag font-size2"></i>
                    <span class="invisibleAndroid"> Situação: </span>
                    ${element.situacao ? element.situacao : 'Nenhuma'}
                  </a>
                  <a title="${element.atividade}" style="max-width: 20%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
                    <i class="fa-regular fa-user-tag font-size2"></i>
                    <span class="invisibleAndroid"> Atividade: </span>
                    ${element.atividade ? element.atividade : 'Nenhuma'}
                  </a>
                  <a title="${element.status}" style="max-width: 20%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
                    <i class="fa-regular fa-user-tag font-size2"></i>
                    <span class="invisibleAndroid"> Status: </span>
                    ${element.status ? element.status : 'Nenhum'}
                  </a>
                  <i class="fa-solid fa-floppy-disk font-color-navbar" style="position: absolute; right: 1.5vw; cursor: pointer" 
                  onclick="saveMenu('Esteiras','${element.id}',
                    document.getElementById('${element.id}_newFase').value,
                    document.getElementById('${element.id}_oldFase').value,
                    document.getElementById('${element.id}_motivo').value,
                    '${element.atividade}','${element.status}','${element.situacao}' )"></i>
                </div>
                <div class="font-4" style="position: relative; width: 100%; display: flex; justify-content: center; align-items: center; height: 6vh; font-size: 2.2vh; padding-block: 1vh">
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 20%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Nova Fase</legend>
                    <input id="${element.id}_newFase" type="text" class="font-1" value="${element.newFase ? element.newFase : ''}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 20%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Fases Antigas</legend>
                    <input id="${element.id}_oldFase" type="text" class="font-1" value="${element.oldFase ? element.oldFase : ''}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
                  </fieldset>
                  <fieldset class="width70p margin-left15p" style="padding: 0; margin: 0; width: 40%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
                    <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Motivo</legend>
                    <input id="${element.id}_motivo" type="text" class="font-1" value="${element.motivo ? element.motivo : ''}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
                  </fieldset>
                </div>
              </div>
            </result>`
          })
        }
      },
      error: async function(e) {
        getBlock = false
        menus.filter(r=>r.menu != button).forEach(r=>{ document.getElementById(r.menu).classList.remove('buttonBlock') })
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API demorou muito para retornar uma resposta valida...`)
      }
    })
  }
  function saveMenu(button, option, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10, value11) {
    if (getBlock) return alert('Aguarde...')
    getBlock = true
    if (option == 'aviso') value1 = String(value1).replaceAll('\n','<br/>')
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/save`,
      data: JSON.stringify({ 
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: button, 
        option: option, 
        value1: value1,
        value2: value2,
        value3: value3,
        value4: value4,
        value5: value5,
        value6: value6,
        value7: value7,
        value8: value8,
        value9: value9,
        value10: value10,
        value11: value11,
      }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        getBlock = false
        if (s.error) return alert(s.error)
        if (button == "Configs") return alert('Configuração salva com sucesso...')
        if (button == "Roles") return alert('Cargo salvo com sucesso...')
        if (button == "Esteiras") return alert('Fase salva com sucesso...')
        return alert('Configuração salva com sucesso...')
      },
      error: async function(e) {
        getBlock = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API demorou muito para retornar uma resposta valida...`)
      }
    })
  }
  function create(button, value) {
    if (getBlock) return alert('Aguarde...')
    getBlock = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/create`,
      data: JSON.stringify({ 
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: button,
        value: value
      }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        getBlock = false
        if (s.error) return alert(s.error)
        if (button == "Configs") alert('Configuração criada com sucesso...')
        if (button == "Roles") alert('Cargo criado com sucesso...')
        if (button == "Esteiras") alert('Fase criada com sucesso...')
        return window.location.reload()
      },
      error: async function(e) {
        getBlock = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API demorou muito para retornar uma resposta valida...`)
      }
    })
  }
  function remove(button, value) {
    if (getBlock) return alert('Aguarde...')
    getBlock = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/remove`,
      data: JSON.stringify({ 
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: button,
        value: value
      }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        getBlock = false
        if (s.error) return alert(s.error)
        if (button == "Configs") alert('Configuração deletada com sucesso...')
        if (button == "Roles") alert('Cargo deletado com sucesso...')
        if (button == "Esteiras") alert('Fase deletada com sucesso...')
        return window.location.reload()
      },
      error: async function(e) {
        getBlock = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API demorou muito para retornar uma resposta valida...`)
      }
    })
  }
  function menuPropostas(icon, cod, role) {
    if (menuPropostaActual) {
      document.getElementById(`menuProposta`).innerHTML = ``
      if (menuPropostaActual == cod) return menuPropostaActual = false
      menuPropostaActual = false
    }
    menuPropostaActual = cod
    document.getElementById(`menuPropostas`).innerHTML = `<div id="menuProposta"><div class="background-reverse width35" style="z-index: 2; width: 8vw; border-radius: 1.5vh; font-size: 2vh; position: absolute; top: ${$(icon).offset().top+document.getElementById('propostasPage').scrollTop}px; left: calc(${$(icon).offset().left}px - (${window.screen.width < 900 ? '35.2vw' : '8.2vw'}) ); display: flex; flex-direction: column; text-align: center; padding-block: 0.8vh"><a onclick="saveMenu('Roles','${role}',
        document.getElementById('${cod}_administrativo_funcionarios').value,
        document.getElementById('${cod}_administrativo_roles').value,
        document.getElementById('${cod}_administrativo_configs').value,
        document.getElementById('${cod}_administrativo_logs').value,
        document.getElementById('${cod}_administrativo_relatorios').value,
        document.getElementById('${cod}_propostas_lista').value,
        document.getElementById('${cod}_propostas_cadastrar').value,
        document.getElementById('${cod}_consultas_fgts').value,
        document.getElementById('${cod}_consultas_lotes').value,
        document.getElementById('${cod}_administrativo_empresa').value,
        document.getElementById('${cod}_propostas_leads').value
      )
    " class="line-bottom-reverse navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Salvar</a><a onclick="remove('Roles','${role}')" class="navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Deletar</a></div></div>`
  }
  (function () {
    if (login.perms.administrativo_configs) {
      if (menus.find(r=> r.menu == "Configs")) {
        menus.find(r=> r.menu == "Configs").block = false
        document.getElementById('Configs').classList.remove('buttonBlock')
      }
      if (menus.find(r=> r.menu == "Esteiras")) {
        menus.find(r=> r.menu == "Esteiras").block = false
        document.getElementById('Esteiras').classList.remove('buttonBlock')
      }
    }
    if (login.perms.administrativo_roles) {
      if (menus.find(r=> r.menu == "Roles")) {
        menus.find(r=> r.menu == "Roles").block = false
        document.getElementById('Roles').classList.remove('buttonBlock')
      }
    }
    if (login.perms.administrativo_configs) getMenu('Configs')
  })();
</script>
<script>
  function inputChecked(button) {
    if (document.getElementById(button).value == '1') {
      document.getElementById(button).value = '0'
      document.getElementById(button+"B").classList.remove('sliderBC')
      document.getElementById(button+"S").classList.remove('sliderC')
    } else {
      document.getElementById(button).value = '1'
      document.getElementById(button+"B").classList.add('sliderBC')
      document.getElementById(button+"S").classList.add('sliderC')
    }
  }
  function searchBar(input) {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById(input.id);
    filter = input.value.toUpperCase();
    ul = document.getElementById('result');
    li = ul.getElementsByTagName('result');
    for (i = 0; i < li.length; i++) {
      a = li[i]
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "flex";
      } else li[i].style.display = "none";
    }
  }
</script>