<div id="propostasPage" style="max-height: 100vh; overflow: auto; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/imports/navbar.html`)</script>
  <div class="background-image margin-left2-5 width79 " style="margin-top: 12.5vh; margin-left: 6vw; width: 92.5vw; height: 20%; border-radius: 2vh;display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <a style="font-size: 3vh">Configurações</a>
    <div style="display: flex; width: 100%; justify-content: center; align-items: center">
      <a id="Configs" onclick="loadMenu('Configs')" class="buttonLogin width30p" style="width: 15%; margin-inline: 0.5vw; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Configs</a>
      <a id="Roles" onclick="loadMenu('Roles')" class="buttonLogin width30p" style="width: 15%; margin-inline: 0.5vw; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Cargos</a>
      <a id="Bancos" onclick="loadMenu('Bancos')" class="buttonLogin width30p" style="width: 15%; margin-inline: 0.5vw; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Bancos</a>
    </div>
  </div>
  <div class="background-image margin-left2-5 width79 " style="margin-top: 2vh; margin-left: 6vw; width: 92.5vw; height: 13%; border-radius: 2vh;display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <fieldset class="width60p" title="Pesquise algum funcionario por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 45%; margin-inline: 1%; padding-inline: 1%;">
      <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Pesquisar</legend>
      <input onkeyup="searchBar(this)" id="searchBar" placeholder="Pesquise aqui..." style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 3.5vh; background: transparent; border: 0">
    </fieldset>
    <i onclick="searchBar({ id: 'searchBar' })" class="fa-regular fa-magnifying-glass-dollar" style="cursor: pointer; font-size: 3.5vh; margin-top: 1.3vh;"></i>
  </div>

  <div id="result" class="background-image margin-left2-5 width79 " style="margin-top: 2vh; margin-left: 6vw; width: 92.5vw; min-height: 42.5%; border-top-left-radius: 2vh; border-top-right-radius: 2vh; display: flex; flex-direction: column; align-items: center; padding-block: 4vh"></div>
  <div id="subMenu"></div>
</div>

<script>
  var menusBlock = {}
  var menuActual = false
  var subMenu = false
  var result = false
  var block = false
  async function loadMenu(menu) {
    if (subMenu) await subMenuRoles(false, subMenu)
    if (block) return alert('Aguarde...')
    if (menusBlock[menu]) return alert('Você não tem permissão para acessar esse menu...')
    document.getElementById('result').innerHTML = `<div class="loader-wheel"></div><div class="loader-text font-5"></div>`
    if (menuActual) document.getElementById(menuActual).classList.remove('buttonBlock')
    document.getElementById(menu).classList.add('buttonBlock')
    block = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/get`,
      data: JSON.stringify({
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: menu 
      }),contentType:"application/json; charset=utf-8",
      success: async function(s) {
        block = false
        result = s
        menuActual = menu
        document.getElementById('result').innerHTML = ``
        if (s.error) return alert(s.error)
        if (menu == "Configs") {
          s.configs.forEach((element,index)=>{ Configs(element,index) })
        } else if (menu == "Roles") {
          document.getElementById('result').innerHTML += `<div class="font-color-navbar background-reverse" style="z-index: 5; cursor: pointer; position: fixed; bottom: 2vh; right: 3vw; padding-block: 1vh; display: flex; align-items: center; justify-content: center; border-radius: 2vh">
            <fieldset id="fieldset" title="Novo Cargo..." style="text-align: left; padding: 0; border-radius: 0.6vh; width: 60%; margin-inline: 1%; padding-inline: 1%; margin-right: 1vw;">
              <legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Novo Cargo</legend>
              <input class="font-1 font-color-reverse" placeholder="Nome do Cargo" id="newRoleInput" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
            </fieldset>
            <i class="fa-regular fa-file-circle-plus" style="font-size: 4vh; margin-top: 1vh" onclick="create('Roles', document.getElementById('newRoleInput').value)"></i>
          </div>`
          s.roles.forEach((element,index)=>{ Roles(element,index) })
        } else if (menu == "Bancos") {
          var banks = [ "FACTA FINANCEIRA","BANCO C6","PANAMERICANO","MERCANTIL","BMG","SAFRA","BANRISUL" ]
          document.getElementById('result').innerHTML = `<div id="results" class="flex-direction-column" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>`
          banks.forEach((element,i) => {
            document.getElementById('results').innerHTML += `
              <result onclick="openBank('${element}')" class="background-Propostas width60 height60vw" style="width: 16vw; height: 37vh; cursor: pointer; margin-inline: 1vw; margin-block: 1.5vh; border-radius: 3vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
                <img src="/public/images/Bancos/${element}.png" class="width25 height25vw" style="width: 8vw; height: 8vw; border-radius: 100%">
                <a class="font-size2-5 margin-top2" style="font-size: 3vh; margin-top: 5vh; text-decoration: underline">${element}</a>
              </result>
            `
          })
        } else return alert('Menu não encontrado...')
      },
      error: async function(e) {
        block = false
        document.getElementById(menu).classList.remove('buttonBlock')
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API está Reiniciando! Aguarde até voltar...\n${JSON.stringify(e)}`)
      }
    })
  }
  (function () {
    if (!login.perms.administrativo_configs) {
      menusBlock.Configs = true
      document.getElementById('Configs').classList.add('buttonBlock')
      menusBlock.Bancos = true
      document.getElementById('Bancos').classList.add('buttonBlock')
    }
    if (!login.perms.administrativo_roles) {
      menusBlock.Roles = true
      document.getElementById('Roles').classList.add('buttonBlock')
    }
    if (!login.perms.administrativo_configs) return alert('Clique em algum menu que você tenha permissão...') 
    loadMenu('Configs')
  })();
</script>

<script>
  async function Configs(element,i) {
    if (!document.getElementById(element.menu)) document.getElementById('result').innerHTML += `<div id="${element.menu}" class="flex-direction-column align-items-center justify-content-center" style="width: 100%; display: flex; flex-direction: row; justify-content: center"></div>`
    if (element.type == 'checkbox') {
      document.getElementById(element.menu).innerHTML += `<result class="width50p" style="width: 12%; margin-inline: 1%">
        <fieldset class="width100p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
            <div style="width: 100%; display: flex; justify-content: center">
              <div id="${element.id}_activeS" onclick="inputChecked('${element.id}_active')" class="slider">
                <div id="${element.id}_activeB" class="sliderB"></div>
              </div>
            </div>
            <input id="${element.id}_active" value='0' type='hidden'>
          <i onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid fa-floppy-disk font-color-navbar"></i>
        </fieldset>
      </result>`
      if (element.value == 1) inputChecked(`${element.id}_active`)
    } else if (element.type == 'input') {
      document.getElementById(element.menu).innerHTML += `<result class="width40p" style="width: 25%; margin-inline: 1%">
        <fieldset class="width100p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
          <input id="${element.id}_active" type="text" class="font-1" value="${element.value}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
          <i title="Salvar" onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
        </fieldset>
      </result>`
    } else if (element.type == 'textarea') {
      document.getElementById(element.menu).innerHTML += `<result class="width50p" style="width: 25%; margin-inline: 1%">
        <fieldset class="width100p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
          <textarea id="${element.id}_active" rows="1" class="font-1" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">${String(element.value).replace('null','Não Definido...')}</textarea>
          <i title="Salvar" onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
        </fieldset>
      </result>`
    } else if (element.type == 'password') {
      document.getElementById(element.menu).innerHTML += `<result class="width30p" style="width: 25%; margin-inline: 1%">
        <fieldset class="width100p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
          <input id="${element.id}_active" type="password" class="font-1" value="${element.value}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
          <i title="Salvar" onclick="saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
        </fieldset>
      </result>`
    } else if (element.type == 'number') {
      document.getElementById(element.menu).innerHTML += `<result class="width50p" style="width: 9%; margin-inline: 1%">
        <fieldset class="width100p" style="padding: 0; margin: 0; width: 100%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">${element.name}</legend>
          <input id="${element.id}_active" type="number" class="font-1" value="${element.value}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0" ${element.block ? 'disabled' : ''}>
          <input type="hidden" id="${element.id}_active_aux">
          <i title="${element.block ? 'Zerar' : 'Salvar'}" onclick="document.getElementById('${element.id}_active${element.block ? `` : `_aux`}').value = 0; saveMenu('Configs', '${element.config}', document.getElementById('${element.id}_active').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid ${ element.block ? 'fa-arrows-rotate' : 'fa-floppy-disk' } font-color-navbar"></i>
        </fieldset>
      </result>`
    }
  }
  async function Roles(element,i) {
    document.getElementById('result').innerHTML += `<result style="width: 90%">
      <div class="background-Propostas" style="border-radius: 1.5vh; margin-block: 1.5vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 0.8vh">
        <div class="line-bottom navbar-font-color font-4" style="position: relative; width: 100%; display: flex; justify-content: center; align-items: center; height: 6vh; font-size: 2.2vh">
          <a title="${element.role}" style="max-width: 40%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
            <i class="fa-regular fa-user-tag font-size2"></i>
            <span class="invisibleAndroid"> Cargo: </span>
            ${element.role}
          </a>
          <a title="${element.agente}" style="max-width: 40%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-inline: 2%;">
            <i class="fa-regular fa-user-tag font-size2"></i>
            <span class="invisibleAndroid"> Criador: </span>
            ${element.agente}
          </a>
          <i style="position: absolute; right: 1.5vw; cursor: pointer" onclick="subMenuRoles(this, '${i}','${element.role}')" class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="flex-direction-column" style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 11%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Funcionários</legend>
            <div id="${i}_administrativo_funcionariosS" onclick="inputChecked('${i}_administrativo_funcionarios')" class="slider">
              <div id="${i}_administrativo_funcionariosB" class="sliderB"></div>
            </div>
            <input id="${i}_administrativo_funcionarios" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Configs</legend>
            <div id="${i}_administrativo_configsS" onclick="inputChecked('${i}_administrativo_configs')" class="slider">
              <div id="${i}_administrativo_configsB" class="sliderB"></div>
            </div>
            <input id="${i}_administrativo_configs" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Logs</legend>
            <div id="${i}_administrativo_logsS" onclick="inputChecked('${i}_administrativo_logs')" class="slider">
              <div id="${i}_administrativo_logsB" class="sliderB"></div>
            </div>
            <input id="${i}_administrativo_logs" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Cargos</legend>
            <div id="${i}_administrativo_rolesS" onclick="inputChecked('${i}_administrativo_roles')" class="slider">
              <div id="${i}_administrativo_rolesB" class="sliderB"></div>
            </div>
            <input id="${i}_administrativo_roles" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 13%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Relatórios ADM</legend>
            <div id="${i}_administrativo_relatoriosS" onclick="inputChecked('${i}_administrativo_relatorios')" class="slider">
              <div id="${i}_administrativo_relatoriosB" class="sliderB"></div>
            </div>
            <input id="${i}_administrativo_relatorios" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 13%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Relatór. Empresa</legend>
            <div id="${i}_administrativo_empresaS" onclick="inputChecked('${i}_administrativo_empresa')" class="slider">
              <div id="${i}_administrativo_empresaB" class="sliderB"></div>
            </div>
            <input id="${i}_administrativo_empresa" value='0' type='hidden'>
          </fieldset>
        </div>
        <div class="flex-direction-column" style="width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 11.5%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Lista de Prop.</legend>
            <div id="${i}_propostas_listaS" onclick="inputChecked('${i}_propostas_lista')" class="slider">
              <div id="${i}_propostas_listaB" class="sliderB"></div>
            </div>
            <input id="${i}_propostas_lista" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Nova Prop.</legend>
            <div id="${i}_propostas_cadastrarS" onclick="inputChecked('${i}_propostas_cadastrar')" class="slider">
              <div id="${i}_propostas_cadastrarB" class="sliderB"></div>
            </div>
            <input id="${i}_propostas_cadastrar" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 11%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Lista de Leads</legend>
            <div id="${i}_propostas_leadsS" onclick="inputChecked('${i}_propostas_leads')" class="slider">
              <div id="${i}_propostas_leadsB" class="sliderB"></div>
            </div>
            <input id="${i}_propostas_leads" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 13%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Consultas FGTS</legend>
            <div id="${i}_consultas_fgtsS" onclick="inputChecked('${i}_consultas_fgts')" class="slider">
              <div id="${i}_consultas_fgtsB" class="sliderB"></div>
            </div>
            <input id="${i}_consultas_fgts" value='0' type='hidden'>
          </fieldset>
          <fieldset class="width70p" style="padding: 0; margin: 0; width: 10%; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center; margin-inline: 0.2vw">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Lotes</legend>
            <div id="${i}_consultas_lotesS" onclick="inputChecked('${i}_consultas_lotes')" class="slider">
              <div id="${i}_consultas_lotesB" class="sliderB"></div>
            </div>
            <input id="${i}_consultas_lotes" value='0' type='hidden'>
          </fieldset>
        </div>
      </div>
    </result>`
    for (var key in element) {
      if(element[key] == 1 && document.getElementById(`${i}_${key}`)) inputChecked(`${i}_${key}`)
    }
  }
  async function openBank(bank) {
    document.getElementById('result').innerHTML = `<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
      <a style="font-size: 3.3vh; font-weight: 600">Login's: </a>
      <div id="logins" style="margin-top: 2vh; width: 100%; text-algin: center; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap">
        <i onclick="create('Logins', '${bank}')" class="fa-solid fa-user-plus font-color-navbar" style="font-size: 4vh; cursor: pointer"></i>
      </div>
      <a style="font-size: 3.3vh; font-weight: 600; margin-top: 8vh">Erros: </a>
      <div id="erros" style="margin-top: 2vh; width: 100%; text-algin: center; display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap"></div>
      <a style="font-size: 3.3vh; font-weight: 600; margin-top: 8vh">Fases: </a>
      <div id="fases" style="margin-top: 2vh; width: 100%; text-algin: center; display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap"></div>
    </div>`
    result.logins.filter(r=> r.bank == bank).forEach((element,i)=>{
      document.getElementById('logins').innerHTML += `<result class="flex-direction-column" style="width: 90%; margin-inline: 1%; display: flex; justify-content: center; align-items: center">
        <fieldset class="width80p" style="padding: 0; margin: 0; width: 25%; margin-inline: 0.5vw; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">User</legend>
          <input id="${element.id}_user" type="text" class="font-1" value="${String(element.user).replace('null','Não definido...')}" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
          <i title="Salvar" onclick="saveMenu('Logins', '${element.id}', document.getElementById('${element.id}_user').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid fa-floppy-disk font-color-navbar"></i>
        </fieldset>
        <fieldset class="width80p" style="padding: 0; margin: 0; width: 25%; margin-inline: 0.5vw; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Password</legend>
          <input id="${element.id}_password" type="password" class="font-1" placeholder="********" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
          <i title="Salvar" onclick="saveMenu('Logins', '${element.id}', false, document.getElementById('${element.id}_password').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid fa-floppy-disk font-color-navbar"></i>
        </fieldset>
        <fieldset class="width80p" style="padding: 0; margin: 0; width: 15%; margin-inline: 0.5vw; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Token</legend>
          <input id="${element.id}_token" value="${String(element.token).replace('null','Não definido...')}" class="font-1" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0">
          <i title="Salvar" onclick="saveMenu('Logins', '${element.id}', false, false, document.getElementById('${element.id}_token').value)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid fa-floppy-disk font-color-navbar"></i>
        </fieldset>
        <fieldset class="width80p" style="padding: 0; margin: 0; width: 12%; margin-inline: 0.5vw; border-radius: 0.6vh; padding-inline: 0.4%; height: 7.7vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Limite</legend>
          <input id="${element.id}_limit" value="${element.limit}" type="number" class="font-1" style="width: 100%; height: 3vh; margin: 0; font-size: 2.3vh; background: transparent; border: 0" disabled>
          <i title="Resetar" onclick="saveMenu('Logins', '${element.id}', false, false, false, 0)" style="font-size: 3vh; cursor: pointer; margin-right: 0.5vw" class="fa-solid fa-arrows-rotate font-color-navbar"></i>
        </fieldset>
        <i onclick="remove('Logins','${element.id}')" class="fa-solid fa-trash-xmark" style="cursor: pointer; font-size: 3.2vh; color: red; margin-top: 1vh"></i>
      </result>`
    })
    result.erros.filter(r=> r.bank == bank).forEach((element,i)=>{
      document.getElementById('erros').innerHTML += `<result class="background-Propostas width45p" style="position: relative; margin: 1vw; width: 16vw; height: 42vh; border-radius: 1.5vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center">
        <i class="fa-solid fa-floppy-disk font-color-navbar" style="font-size: 2.5vh; position: absolute; top: 1.2vh; right: 0.8vw; cursor: pointer" 
          onclick="saveMenu('Erros','${element.id}',
            document.getElementById('${element.id}_fase').value,
            document.getElementById('${element.id}_codMotivo').value,
            document.getElementById('${element.id}_motivo').value)">
        </i>
        <img src="/public/images/Bancos/${element.bank}.png" class="width50p; margin-top1" style="width: 6.5vw; height: 6.5vw; border-radius: 100%">
        <a class="font-size2 font-color-navbar" style="font-weight: 600; font-size: 2vh; margin-top: 2vh; margin-bottom: 0.5vh; max-width: 100%; overflow: hidden;">${element.bank}</a>
        <a class="font-size2" style="font-size: 1.8vh; max-width: 95%; line-clamp: 2; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;" title="${element.error ? element.error : 'Vazio...'}"><span class="font-color-navbar">Erro:</span> ${element.error ? element.error : 'Vazio...'}</a>

        <fieldset class="width90p" style="padding: 0; margin: 0; width: 45%; margin-top: 1vh; border-radius: 0.6vh; padding-inline: 0.4%; height: 5vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 1.7vh">Fase</legend>
          <input id="${element.id}_fase" type="text" class="font-1" value="${!element.fase || element.fase == 'null' ? 'Vazio...' : element.fase}" style="width: 100%; height: 2.5vh; margin: 0; font-size: 1.8vh; background: transparent; border: 0">
        </fieldset>
        <fieldset class="width90p" style="padding: 0; margin: 0; width: 60%; border-radius: 0.6vh; padding-inline: 0.4%; height: 5vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 1.7vh">Cod. Motivo</legend>
          <input id="${element.id}_codMotivo" type="text" class="font-1" value="${!element.codMotivo || element.codMotivo == 'null' ? 'Vazio...' : element.codMotivo}" style="width: 100%; height: 2.5vh; margin: 0; font-size: 1.8vh; background: transparent; border: 0">
        </fieldset>
        <fieldset class="width90p" style="padding: 0; margin: 0; width: 80%; border-radius: 0.6vh; padding-inline: 0.4%; height: 5vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 1.7vh">Motivo</legend>
          <input id="${element.id}_motivo" type="text" class="font-1" value="${!element.motivo || element.motivo == 'null' ? 'Vazio...' : element.motivo}" style="width: 100%; height: 2.5vh; margin: 0; font-size: 1.8vh; background: transparent; border: 0">
        </fieldset>
      </result>`
    })
    result.fases.filter(r=> r.bank == bank).forEach((element,i)=>{
      document.getElementById('fases').innerHTML += `<result class="background-Propostas width45p" style="position: relative; margin: 1vw; width: 16vw; height: 43vh; border-radius: 1.5vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center">
        <i class="fa-solid fa-floppy-disk font-color-navbar" style="font-size: 2.5vh; position: absolute; top: 1.2vh; right: 0.8vw; cursor: pointer" 
          onclick="saveMenu('Esteiras','${element.id}',
            document.getElementById('${element.id}_newFase').value,
            document.getElementById('${element.id}_oldFase').value,
            document.getElementById('${element.id}_motivo').value,
          '${element.atividade}','${element.status}','${element.situacao}' )">
        </i>
        <img src="/public/images/Bancos/${element.bank}.png" class="width50p; margin-top1" style="width: 6.5vw; height: 6.5vw; border-radius: 100%">
        <a class="font-size2 font-color-navbar" style="font-weight: 600; font-size: 2vh; margin-top: 2vh; margin-bottom: 0.5vh; max-width: 100%; overflow: hidden;">${element.bank}</a>
        <a style="font-size: 1.8vh; max-width: 95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="${element.situacao ? element.situacao : 'Vazio...'}"><span class="font-color-navbar">Situação:</span> ${element.situacao ? element.situacao : 'Vazio...'}</a>
        <a style="font-size: 1.8vh; max-width: 95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="${element.atividade ? element.atividade : 'Vazio...'}"><span class="font-color-navbar">Atividade:</span> ${element.atividade ? element.atividade : 'Vazio...'}</a>
        <a style="font-size: 1.8vh; max-width: 95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="${element.status ? element.status : 'Vazio...'}"><span class="font-color-navbar"">Status:</span> ${element.status ? element.status : 'Vazio...'}</a>
        <fieldset class="width90p" style="padding: 0; margin: 0; width: 40%; margin-top: 1vh; border-radius: 0.6vh; padding-inline: 0.4%; height: 5vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 1.7vh">Nova Fase</legend>
          <input id="${element.id}_newFase" type="text" class="font-1" value="${!element.newFase || element.newFase == 'null' ? 'Vazio...' : element.newFase}" style="width: 100%; height: 2.5vh; margin: 0; font-size: 1.8vh; background: transparent; border: 0">
        </fieldset>
        <fieldset class="width90p" style="padding: 0; margin: 0; width: 80%; border-radius: 0.6vh; padding-inline: 0.4%; height: 5vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 1.7vh">Fases Antiga</legend>
          <input id="${element.id}_oldFase" type="text" class="font-1" value="${!element.oldFase || element.oldFase == 'null' ? 'Vazio...' : element.oldFase}" style="width: 100%; height: 2.5vh; margin: 0; font-size: 1.8vh; background: transparent; border: 0">
        </fieldset>
        <fieldset class="width90p" style="padding: 0; margin: 0; width: 90%; border-radius: 0.6vh; padding-inline: 0.4%; height: 5vh; display: flex; flex-direction: row; justify-content: center">
          <legend class="font-4" style="margin: 0; padding: 0; font-size: 1.7vh">Motivo</legend>
          <input id="${element.id}_motivo" type="text" class="font-1" value="${!element.motivo || element.motivo == 'null' ? 'Vazio...' : element.motivo}" style="width: 100%; height: 2.5vh; margin: 0; font-size: 1.8vh; background: transparent; border: 0">
        </fieldset>
      </result>`
    })
  }
</script>
<script>
  function subMenuRoles(icon, cod, role) {
    if (subMenu) {
      document.getElementById(`subMenu`).innerHTML = ``
      if (subMenu == cod) return subMenu = false
      subMenu = false
    }
    subMenu = cod
    document.getElementById(`subMenu`).innerHTML = `<div class="background-reverse width35" style="z-index: 2; width: 8vw; border-radius: 1.5vh; font-size: 2vh; position: absolute; top: ${$(icon).offset().top+document.getElementById('propostasPage').scrollTop}px; left: calc(${$(icon).offset().left}px - (${window.screen.width < 900 ? '35.2vw' : '8.2vw'}) ); display: flex; flex-direction: column; text-align: center; padding-block: 0.8vh">
      <a onclick="saveMenu('Roles','${role}',
        document.getElementById('${cod}_administrativo_funcionarios').value,
        document.getElementById('${cod}_administrativo_roles').value,
        document.getElementById('${cod}_administrativo_configs').value,
        document.getElementById('${cod}_administrativo_logs').value,
        document.getElementById('${cod}_administrativo_relatorios').value,
        document.getElementById('${cod}_propostas_lista').value,
        document.getElementById('${cod}_propostas_cadastrar').value,
        document.getElementById('${cod}_consultas_fgts').value,
        document.getElementById('${cod}_consultas_lotes').value,
        document.getElementById('${cod}_administrativo_empresa').value,
        document.getElementById('${cod}_propostas_leads').value
      )"
      class="line-bottom-reverse navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Salvar</a>
      <a onclick="remove('Roles','${role}')" class="navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Deletar</a>
    </div>`
  }
  function saveMenu(button, option, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10, value11) {
    if (block) return alert('Aguarde...')
    if (option == 'aviso') value1 = String(value1).replaceAll('\n','<br/>')
    if (subMenu) subMenuRoles(false, subMenu)
    block = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/save`,
      data: JSON.stringify({ 
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: button, 
        option: option, 
        value1: String(value1).replace('Vazio...',''),
        value2: String(value2).replace('Vazio...',''),
        value3: String(value3).replace('Vazio...',''),
        value4: String(value4).replace('Vazio...',''),
        value5: String(value5).replace('Vazio...',''),
        value6: String(value6).replace('Vazio...',''),
        value7: String(value7).replace('Vazio...',''),
        value8: String(value8).replace('Vazio...',''),
        value9: String(value9).replace('Vazio...',''),
        value10: String(value10).replace('Vazio...',''),
        value11: String(value11).replace('Vazio...',''),
      }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        block = false
        if (s.error) return alert(s.error)
        if (button == "Configs") return alert('Configuração salva com sucesso...')
        if (button == "Roles") return alert('Cargo salvo com sucesso...')
        if (button == "Esteiras") return alert('Fase salva com sucesso...')
        return alert('Configuração salva com sucesso...')
      },
      error: async function(e) {
        block = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API está Reiniciando! Aguarde até voltar...\n${JSON.stringify(e)}`)
      }
    })
  }
  function create(button, value) {
    if (block) return alert('Aguarde...')
    block = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/create`,
      data: JSON.stringify({ 
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: button,
        value: value
      }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        block = false
        if (s.error) return alert(s.error)
        if (button == "Configs") alert('Configuração criada com sucesso...')
        if (button == "Roles") alert('Cargo criado com sucesso...')
        if (button == "Logins") {
          alert('Login criado com sucesso...')
          return loadMenu('Bancos')
        }
        return window.location.reload()
      },
      error: async function(e) {
        block = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API está Reiniciando! Aguarde até voltar...\n${JSON.stringify(e)}`)
      }
    })
  }
  function remove(button, value) {
    if (block) return alert('Aguarde...')
    block = true
    $.ajax({ type: "post",url: `${apiURL}/administrativo/configs/remove`,
      data: JSON.stringify({ 
        user: localStorage.getItem('user'), 
        password: localStorage.getItem('password'), 
        menu: button,
        value: value
      }),
      contentType:"application/json; charset=utf-8",
      success: async function(s) {
        block = false
        if (s.error) return alert(s.error)
        if (button == "Configs") alert('Configuração deletada com sucesso...')
        if (button == "Roles") alert('Cargo deletado com sucesso...')
        if (button == "Logins") {
          alert('Login deletado com sucesso...')
          return loadMenu('Bancos')
        }
        return window.location.reload()
      },
      error: async function(e) {
        block = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API está Reiniciando! Aguarde até voltar...\n${JSON.stringify(e)}`)
      }
    })
  }
  function inputChecked(button) {
    if (document.getElementById(button).value == '1') {
      document.getElementById(button).value = '0'
      document.getElementById(button+"B").classList.remove('sliderBC')
      document.getElementById(button+"S").classList.remove('sliderC')
    } else {
      document.getElementById(button).value = '1'
      document.getElementById(button+"B").classList.add('sliderBC')
      document.getElementById(button+"S").classList.add('sliderC')
    }
  }
  function searchBar(input) {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById(input.id);
    filter = input.value.toUpperCase();
    ul = document.getElementById('result');
    li = ul.getElementsByTagName('result');
    for (i = 0; i < li.length; i++) {
      a = li[i]
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "flex";
      } else li[i].style.display = "none";
    }
  }
</script>