<div id="propostasPage" style="max-height: 100vh; overflow: auto; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/views/imports/navbar.html`)</script>

  <div class="background-image margin-left18-5 width79 " style="position: relative; margin-top: 12.5vh; margin-left: 6vw; width: 92.5vw; height: 13%; border-radius: 2vh;display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <i onclick="openFunc('Todos','FGTS')" title="FGTS de os todos funcionarios!" class="fa-solid fa-users font-color-navbar" style="cursor: pointer; font-size: 3vh; position: absolute; right: 1vw; top: 1vh"></i>
    <fieldset title="Pesquise algum funcionario por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 50%; margin-inline: 1%; padding-inline: 1%;">
      <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Pesquisar</legend>
      <input onkeyup="searchBar()" id="searchBar" placeholder="Pesquise algum funcionario aqui..." style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
    </fieldset>
    <i onclick="searchBar()" class="fa-regular fa-magnifying-glass-dollar" style="font-size: 3.5vh; margin-top: 1.5vh; cursor: pointer"></i>
  </div>

  <div class="background-image margin-left18-5 width79 " style="margin-top: 2vh; margin-left: 6vw; width: 92.5vw; min-height: 64.5%; border-top-left-radius: 2vh; border-top-right-radius: 2vh; display: flex; flex-direction: column; padding-block: 4vh">
    <div id="loading">
      <div style="width: 100%; display: flex; justify-content: center; align-items: center"><div class="loader-wheel"></div><div class="loader-text font-5"></div></div>
    </div>

    <div class="font-color-navbar background-reverse left17p" style="z-index: 5; cursor: pointer; position: fixed; bottom: 2vh; left: 6vw; padding-block: 1vh; display: flex; align-items: center; justify-content: center; border-radius: 2vh">
      <fieldset id="fieldset" title="Novo Funcionário..." style="text-align: left; padding: 0; border-radius: 0.6vh; width: 60%; margin-inline: 1%; padding-inline: 1%; margin-right: 1vw;">
        <legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Novo Funcionário</legend>
        <input class="font-1 font-color-reverse" placeholder="Nome do Funcionário" id="newFuncInput" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
      </fieldset>
      <i class="fa-regular fa-user-plus" style="font-size: 4vh" onclick="newFunc()"></i>
    </div>

    <div id="funcionarios" style="display: none; margin-inline: 3vw"></div>
    <div id="menuPropostas"></div>
    <div id="openFunc" style="z-index: 10; position: fixed; display: none; height: 100vh; width: 100vw; top: 0; left: 0; align-items: center; justify-content: center">
      <div class="background-reverse" style="width: 60vw; padding-block: 3vh; border-radius: 3vh;">
        <div style="max-height: 60vh; overflow: auto; display: flex; flex-direction: column; align-items: center;">
          <i onclick="openFunc(false,'close')" class="fas fa-times" style="width: 95%; cursor: pointer; display: flex; justify-content: right; font-size: 3.5vh"></i>
          <a style="font-size: 3.5vh">Funcionário: <span class="font-color-navbar-reverse" id="nameFunc">???</span></a>
          <fieldset id="fieldset" title="Pesquise algum CPF por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 60%; margin-inline: 1%; padding-inline: 1%;">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Pesquisar</legend>
            <input onkeyup="searchBar2()" class="font-color-reverse" id="searchBar2" placeholder="Pesquise aqui..." style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
          </fieldset>
          <div style="display: flex; justify-content: center; width: 100%; margin-top: 1vh;">
            <fieldset id="fieldset" title="Pesquise algum CPF por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Data Minima</legend>
              <input class="font-color-reverse" type="datetime-local" id="dataMinF" style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" title="Pesquise algum CPF por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Data Maxima</legend>
              <input class="font-color-reverse" type="datetime-local" id="dataMaxF" style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" title="Pesquise algum CPF por aqui..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Tipo</legend>
              <select class="font-color-reverse" id="typeF" placeholder="Pesquise aqui..." style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                <option value="" style="color: black" selected>Todos</option>
                <option value="sucess" style="color: black">Sucessos</option>
                <option value="error" style="color: black">Erros</option>
              </select>
            </fieldset>
            <i onclick="openFunc(document.getElementById('userOpen').value,'FGTS')" class="fa-regular fa-magnifying-glass-dollar" style="font-size: 3.5vh; margin-top: 2.5vh; cursor: pointer"></i>
            <input id="userOpen" type="hidden">
          </div>
          <div id="listFunc" style="margin-top: 3vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%; display: flex; justify-content: center; align-items: center"><div class="loader-wheel"></div><div class="loader-text font-5"></div></div>
          </div>
          <a id="loadMore" onclick="listMore()" class="font-color-navbar-reverse" style="display: none; font-size: 3vh; margin-top: 3vh; text-decoration: underline; cursor: pointer">Carregar mais...</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var menuPropostaActual = false
  function menuPropostas(icon, codAF) {
    if (menuPropostaActual) {
      document.getElementById(`menuProposta`).innerHTML = ``
      if (menuPropostaActual == codAF) return menuPropostaActual = false
      menuPropostaActual = false
    }
    menuPropostaActual = codAF
    document.getElementById(`menuPropostas`).innerHTML = `<div id="menuProposta"><div class="background-reverse width35" style="z-index: 2; width: 8vw; border-radius: 1.5vh; font-size: 2vh; position: absolute; top: ${$(icon).offset().top+document.getElementById('propostasPage').scrollTop}px; left: calc(${$(icon).offset().left}px - (${window.screen.width < 900 ? '35.2vw' : '8.2vw'}) ); display: flex; flex-direction: column; text-align: center; padding-block: 0.8vh">
      <a onclick="saveFunc('${codAF}')" class="line-bottom-reverse navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Salvar</a>
      <a onclick="deleteFunc('${codAF}')" class="line-bottom-reverse navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Deletar</a>
      <a onclick="openFunc('${codAF}','FGTS')" class="line-bottom-reverse navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">FGTS</a>
      <a onclick="openFunc('${codAF}','Cadastros')" class="navbar-color-select" style="cursor: pointer; padding-block: 0.6vh">Cadastros</a>
    </div></div>`
  }

  var loginsBlock = false
  function getUser() {
    if (loginsBlock) return alert('Você já está com um puxamento em andamento...')
    loginsBlock = true
    $.ajax({ type: "post",url: `${apiURL}/funcionarios/getLogins`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        loginsBlock = false
        if (s.error) return alert(s.error)
        document.getElementById('loading').style.display = 'none'
        document.getElementById(`funcionarios`).style.display = 'inline'
        s.logins.forEach((element,index)=>{
          document.getElementById('funcionarios').innerHTML += `<proposta id="userID_${element.user}"><a style="display:none">${JSON.stringify(element)}</a><div id="user_${element.user}" class="background-Propostas" style="z-index: 1; position: relative; border-radius: 1.5vh; margin-block: 2.5vh"><div class="line-bottom navbar-font-color font-4" style="display: flex; flex-direction: row; align-items: center; height: 6vh; font-size: 2.2vh; padding-inline: 1%; justify-content: center; position: relative">

          <i style="position: absolute; right: 1.5vw; cursor: pointer" onclick="menuPropostas(this, '${element.user}')" class="fa-solid fa-ellipsis-vertical font-color-navbar"></i>

          <a title="${element.user}" style="margin-inline: 2%; max-width: 25%; margin-left: 0.8%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><i class="fa-regular fa-user-headset"></i><span class="invisibleAndroid"> Funcionário: </span><span>${element.user}</span></a>
          <a title="${element.agente}" style="margin-inline: 2%; max-width: 25%; margin-left: 0.8%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><i class="fa-solid fa-user-tie-hair font-size2"></i><span class="invisibleAndroid"> Agente: </span><span>${element.agente}</span></a>
          </div>
          <div class="flex-direction-column" style="display: flex; flex-direction: row; align-items: center; min-height: 10vh; font-size: 2.2vh; padding-inline: 1%; justify-content: center;">
          <fieldset class="width60p" style="padding: 0; width: 25%; margin: 0; border-radius: 0.6vh; margin-left: 0.5%; padding-inline: 0.4%; height: 7.7vh">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Email</legend>
            <input class="font-1" id="${element.user}_email" placeholder="${element.email}" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
          </fieldset>
          <fieldset class="width60p" style="padding: 0; width: 20%; margin: 0; border-radius: 0.6vh; margin-left: 0.5%; padding-inline: 0.4%; height: 7.7vh">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Nova Senha</legend>
            <input class="font-1" id="${element.user}_password" placeholder="..." style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
          </fieldset>
          <fieldset class="width60p" style="padding: 0; width: 10%; margin: 0; border-radius: 0.6vh; margin-left: 0.5%; padding-inline: 0.4%; height: 7.7vh">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Cod. Agilus</legend>
            <input class="font-1" type="number" id="${element.user}_codigo" placeholder="${element.codigo}" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
          </fieldset>
          <fieldset class="width60p" style="padding: 0; width: 20%; margin: 0; border-radius: 0.6vh; margin-left: 0.5%; padding-inline: 0.4%; height: 7.7vh">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Cargo</legend>
            <input class="font-1" id="${element.user}_role" placeholder="${element.role}" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
          </fieldset>
          <fieldset class="width60p" style="padding: 0; width: 20%; margin: 0; border-radius: 0.6vh; margin-left: 0.5%; padding-inline: 0.4%; height: 7.7vh">
            <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Filial</legend>
            <select class="font-1" id="${element.user}_filial" style="font-size: 2.4vh; width: 100%; height: 4vh; padding:0; margin:0; background: transparent; border: 0">
              <option value="matriz" style="color: black" ${element.filial == "matriz" ? 'selected' : ''}>Matriz</option>
              <option value="sobrenome" style="color: black" ${element.filial == "sobrenome" ? 'selected' : ''}>Sobrenome</option>
              <option value="cupula" style="color: black" ${element.filial == "cupula" ? 'selected' : ''}>Cupula</option>
            </select>
          </fieldset>
          </div></div></proposta>`
        })
      },
      error:  async function(s) {
        loginsBlock = false
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }

  var saveBlock = false
  function saveFunc(user) {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    if (saveBlock) return alert('Você já está salvando algum funcionario...')
    saveing = true
    $.ajax({ type: "post",url: `${apiURL}/funcionarios/editLogin`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        newUser: user,
        codigo: document.getElementById(`${user}_codigo`) ? document.getElementById(`${user}_codigo`).value : false,
        newPassword: document.getElementById(`${user}_password`) ? document.getElementById(`${user}_password`).value : false,
        newEmail: document.getElementById(`${user}_email`) ? document.getElementById(`${user}_email`).value : false,
        newRole: document.getElementById(`${user}_role`) ? document.getElementById(`${user}_role`).value : false,
        newFilial: document.getElementById(`${user}_filial`) ? document.getElementById(`${user}_filial`).value : false,
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        saveBlock = false
        if (s.error) return alert(s.error)
        return alert('Salvo com sucesso...')
      },
      error: function(e) {
        saveBlock = false
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }

  var newBlock = false
  function newFunc(user) {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    if (newBlock) return alert('Você já está criando algum funcionario...')
    newBlock = true
    $.ajax({ type: "post",url: `${apiURL}/funcionarios/newLogin`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        newUser: document.getElementById('newFuncInput').value
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        newBlock = false
        if (s.error) return alert(s.error)
        alert('Funcionario criado com sucesso...')
        return window.location.reload()
      },
      error: function(e) {
        newBlock = false
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }

  var deleteBlock = false
  function deleteFunc(user) {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    if (deleteBlock) return alert('Você já está deletando algum funcionario...')
    deleteBlock = true
    $.ajax({ type: "post",url: `${apiURL}/funcionarios/deleteLogin`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        deleteUser: user
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        deleteBlock = false
        if (s.error) return alert(s.error)
        alert('Funcionario deletado com sucesso...')
        document.getElementById(`userID_${user}`).innerHTML = ``
      },
      error: function(e) {
        deleteBlock = false
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }

  var clearBlock = false
  function clearFunc(user, menu) {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    if (clearBlock) return alert('Você já está limpando algum funcionario...')
    clearBlock = true
    $.ajax({ type: "post",url: `${apiURL}/funcionarios/clearCounts`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        menu: menu,
        newUser: user,
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        clearBlock = false
        if (s.error) return alert(s.error)
        alert('Funcionario limpo com sucesso...')
        document.getElementById(`listFunc`).innerHTML = ``
      },
      error: function(e) {
        clearBlock = false
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }

  function downloadCSV(menu) {
    if (list.length <= 0) return alert('A lista está vazia...')
    var csv = `CPF,BANCO`
    if (menu == "sucess") {
      if (list.filter(r=>!r.error).length <= 0) return alert('A lista de Sucessos está vazia...')
      csv = `CPF,BANCO,LIBERADO,TOTAL,TELEFONE,AGENTE,DATA - HORARIO`
      list.filter(r=>!r.error).map(r=> { csv += `\n${r.cpf},${r.bank},${r.liberado.replaceAll('.','').replace(',','.')},${r.total.replaceAll('.','').replace(',','.')},${r.telefone},${r.user},${r.data.replace('T',' - ').replace('Z','')}` })
    } else if (menu == "error") {
      if (list.filter(r=>r.error).length <= 0) return alert('A lista de Erros está vazia...')
      csv = `CPF,BANCO,TELEFONE,ERRO,AGENTE,DATA - HORARIO`
      list.filter(r=>r.error).map(r=> { csv += `\n${r.cpf},${r.bank},${r.telefone},${r.error},${r.user},${r.data.replace('T',' - ').replace('Z','')}` })
    } else if (menu == "total") {
      csv = `CPF,BANCO,TELEFONE,LIBERADO,TOTAL,ERRO,AGENTE,DATA - HORARIO`
      list.filter(r=>!r.error).map(r=> { csv += `\n${r.cpf},${r.bank},${r.telefone},${r.liberado.replaceAll('.','').replace(',','.')},${r.total.replaceAll('.','').replace(',','.')},NULL,${r.user},${r.data.replace('T',' - ').replace('Z','')}` })
      list.filter(r=>r.error).map(r=> { csv += `\n${r.cpf},${r.bank},${r.telefone},0.00,0.00,${r.error},${r.user},${r.data.replace('T',' - ').replace('Z','')}` })
    } else if (menu == "af") {
      csv = `AF,AGENTE,DATA - HORARIO`
      list.map((r)=>{ csv += `\n${r.af},${r.user},${r.data.replace('T',' - ').replace('Z','')}` })
    }
    var a = document.createElement('a');
    a.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    a.target = '_blank';
    a.download = `CSV-${menu}.csv`;
    a.click();
  }

  var list = false
  var listMax = 100
  var openBlock = false
  function openFunc(user, menu) {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    if (openBlock) return alert('Você já está com um funcionario aberto...')
    if (menu == 'close') return document.getElementById('openFunc').style.display = 'none'
    list = false
    listMax = 100
    document.getElementById('userOpen').value = user
    document.getElementById('loadMore').style.display = 'none'
    document.getElementById('listFunc').innerHTML = `<div style="width: 100%; display: flex; justify-content: center; align-items: center"><div class="loader-wheel"></div><div class="loader-text font-5"></div></div>`
    document.getElementById('nameFunc').innerHTML = `${user}`
    document.getElementById('openFunc').style.display = 'flex'
    openBlock = true
    $.ajax({ type: "post",url: `${apiURL}/funcionarios/get${menu}`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        newUser: user == 'Todos' ? false : user,
        dataMin: document.getElementById('dataMinF').value,
        dataMax: document.getElementById('dataMaxF').value,
        type: document.getElementById('typeF').value,
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        openBlock = false
        if (s.error) {
          document.getElementById('openFunc').style.display = 'none'
          return alert(s.error)
        }
        document.getElementById('listFunc').innerHTML = ``
        if (menu == "FGTS") {
          list = s.fgts
          document.getElementById('listFunc').innerHTML += `
            <div style="width: 100%; display: flex; justify-content: center;">
              <a onclick="downloadCSV('sucess')" title="CSV Sucessos" style="margin-inline: 1vw; font-size: 2.5vh; margin-top: 3vh; cursor: pointer">Sucessos: <span class="font-color-navbar-reverse">${s.fgts.filter(r=>!r.error).length}</span></a>
              <a onclick="downloadCSV('error')" title="CSV Erros" style="margin-inline: 1vw; font-size: 2.5vh; margin-top: 3vh; cursor: pointer">Erros: <span class="font-color-navbar-reverse">${s.fgts.filter(r=>r.error).length}</span></a>
              <a onclick="downloadCSV('total')" title="CSV Total" style="margin-inline: 1vw; font-size: 2.5vh; margin-top: 3vh; cursor: pointer">Total: <span class="font-color-navbar-reverse">${s.fgts.length}</span></a>
            </div>
            <div style="width: 100%; display: flex; justify-content: center;">
              <a title="VALOR TOTAL LIBERADO" style="margin-inline: 1vw; font-size: 2vh; margin-top: 3vh;">Liberado: <span class="font-color-navbar-reverse">${s.liberado}</span></a>
              <a title="QUANTIDADE MEDIA DE CONSULTAS POR DIA" style="margin-inline: 1vw; font-size: 2vh; margin-top: 3vh">MED. P/DIA QNT.: <span class="font-color-navbar-reverse">${s.grafico.medQnt}</span></a>
              <a title="VALOR MEDIO POR DIA" style="margin-inline: 1vw; font-size: 2vh; margin-top: 3vh">MED. P/DIA VAL.: <span class="font-color-navbar-reverse">${s.grafico.medValor}</span></a>
              <a title="TICKET MEDIO CONSULTADO" style="margin-inline: 1vw; font-size: 2vh; margin-top: 3vh">TICKET MED.: <span class="font-color-navbar-reverse">${s.grafico.medTicket}</span></a>
            </div>
            <div style="margin-bottom: 2vh; width: 100%; display: flex; justify-content: center;">
              <a title="Limpar lista" onclick="clearFunc('${user}','fgts')" class="font-color-navbar-reverse" style="margin-inline: 1vw; font-size: 2.5vh; margin-top: 3vh; cursor: pointer; text-decoration: underline">Limpar</a>
            </div>
            <div style="width: 100%; display: flex; justify-content: center;">
              <canvas id="grafico" style="width: 20vw; height: 20vw"></canvas>
            </div>
          `
          s.fgts.slice(0, listMax).filter(r=>!r.error).forEach((element,index)=>{
            document.getElementById('listFunc').innerHTML += `
              <result class="background-Propostas" style="border-radius: 1vh; display: flex; width: 90%; padding-block: 1vh; margin-block: 1vh; display: flex; justify-content: center; align-items: center">
                <a style="display: none">${JSON.stringify(element)}</a>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 18%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">CPF</legend>
                  <input disabled class="font-color-reverse" value="${element.cpf}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Banco</legend>
                  <input disabled class="font-color-reverse" value="${element.bank}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Liberado</legend>
                  <input disabled class="font-color-reverse" value="${element.liberado}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Total</legend>
                  <input disabled class="font-color-reverse" value="${element.total}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 25%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Data</legend>
                  <input disabled class="font-color-reverse" value="${element.data.replace('T',' - ').replace('Z','')}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
              </result>
            `
          })
          s.fgts.slice(0, listMax).filter(r=>r.error).forEach((element,index)=>{
            document.getElementById('listFunc').innerHTML += `
              <result class="background-Propostas" style="border-radius: 1vh; display: flex; width: 90%; padding-block: 1vh; margin-block: 1vh; display: flex; justify-content: center; align-items: center">
                <a style="display: none">${JSON.stringify(element)}</a>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 18%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">CPF</legend>
                  <input disabled class="font-color-reverse" value="${element.cpf}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Banco</legend>
                  <input disabled class="font-color-reverse" value="${element.bank}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 35%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Erro</legend>
                  <input disabled class="font-color-reverse" value="${element.error}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 25%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Data</legend>
                  <input disabled class="font-color-reverse" value="${element.data.replace('T',' - ').replace('Z','')}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
              </result>
            `
          })
          if (s.fgts.length >= listMax) document.getElementById('loadMore').style.display = 'flex'
          var data = [
            { value: s.grafico.banks['FACTA FINANCEIRA'], color: '#ffa500', highlight: "#ffa500", label: "FACTA FINANCEIRA" },
            { value: s.grafico.banks['BANCO C6'], color: '#FFFF00', highlight: "#FFFF00", label: "BANCO C6" },
            { value: s.grafico.banks['PANAMERICANO'], color: '#808080', highlight: "#808080", label: "PANAMERICANO" },
            { value: s.grafico.banks['MERCANTIL'], color: '#0000FF', highlight: "#0000FF", label: "MERCANTIL" },
            { value: s.grafico.banks['BMG'], color: '#FF0000', highlight: "#FF0000", label: "BMG" },
            { value: s.grafico.banks['SAFRA'], color: '#00008b', highlight: "#00008b", label: "SAFRA" },
          ];
          var ctx = document.getElementById("grafico").getContext("2d");
          new Chart(ctx).Pie(data);
        } else if (menu == "Cadastros") {
          list = s.cadastros
          document.getElementById('listFunc').innerHTML += `
            <div style="margin-bottom: 2vh; width: 100%; display: flex; justify-content: center;">
              <a onclick="downloadCSV('af')" title="CSV Total" style="margin-inline: 1vw; font-size: 2.5vh; margin-top: 3vh; cursor: pointer">Total: <span class="font-color-navbar-reverse">${s.cadastros.length}</span></a>
            </div>
            <div style="margin-bottom: 2vh; width: 100%; display: flex; justify-content: center;">
              <a title="Limpar lista" onclick="clearFunc('${user}','cadastros')" class="font-color-navbar-reverse" style="margin-inline: 1vw; font-size: 2.5vh; margin-top: 3vh; cursor: pointer; text-decoration: underline">Limpar</a>
            </div>
          `
          s.cadastros.slice(0, listMax).forEach((element,index)=>{
            document.getElementById('listFunc').innerHTML += `
              <result class="background-Propostas" style="border-radius: 1vh; display: flex; width: 90%; padding-block: 1vh; margin-block: 1vh; display: flex; justify-content: center; align-items: center">
                <a style="display: none">${JSON.stringify(element)}</a>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 22%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">AF</legend>
                  <input disabled class="font-color-reverse" value="${element.af}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
                <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 50%; margin-inline: 1%; padding-inline: 1%;">
                  <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Data</legend>
                  <input disabled class="font-color-reverse" value="${element.data.replace('T',' - ').replace('Z','')}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
                </fieldset>
              </result>
            `
          })
          if (s.cadastros.length >= listMax) document.getElementById('loadMore').style.display = 'flex'
        }
      },
      error: function(e) {
        openBlock = false
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }
  
  function listMore() {
    document.getElementById('loadMore').style.display = 'none'
    if (list[0] && list[0].cpf) {
      list.slice(listMax, listMax+100).filter(r=>!r.error).forEach((element,index)=>{
        document.getElementById('listFunc').innerHTML += `
          <result class="background-Propostas" style="border-radius: 1vh; display: flex; width: 90%; padding-block: 1vh; margin-block: 1vh; display: flex; justify-content: center; align-items: center">
            <a style="display: none">${JSON.stringify(element)}</a>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 18%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">CPF</legend>
              <input disabled class="font-color-reverse" value="${element.cpf}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Banco</legend>
              <input disabled class="font-color-reverse" value="${element.bank}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Liberado</legend>
              <input disabled class="font-color-reverse" value="${element.liberado}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Total</legend>
              <input disabled class="font-color-reverse" value="${element.total}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 25%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Data</legend>
              <input disabled class="font-color-reverse" value="${element.data.replace('T',' - ').replace('Z','')}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
          </result>
        `
      })
      list.slice(listMax, listMax+100).filter(r=>r.error).forEach((element,index)=>{
        document.getElementById('listFunc').innerHTML += `
          <result class="background-Propostas" style="border-radius: 1vh; display: flex; width: 90%; padding-block: 1vh; margin-block: 1vh; display: flex; justify-content: center; align-items: center">
            <a style="display: none">${JSON.stringify(element)}</a>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 18%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">CPF</legend>
              <input disabled class="font-color-reverse" value="${element.cpf}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 20%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Banco</legend>
              <input disabled class="font-color-reverse" value="${element.bank}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 35%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Erro</legend>
              <input disabled class="font-color-reverse" value="${element.error}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 25%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Data</legend>
              <input disabled class="font-color-reverse" value="${element.data.replace('T',' - ').replace('Z','')}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
          </result>
        `
      })
    } else if (list[0] && list[0].af) {
      list.slice(listMax, listMax+100).forEach((element,index)=>{
        document.getElementById('listFunc').innerHTML += `
          <result class="background-Propostas" style="border-radius: 1vh; display: flex; width: 90%; padding-block: 1vh; margin-block: 1vh; display: flex; justify-content: center; align-items: center">
            <a style="display: none">${JSON.stringify(element)}</a>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 22%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">AF</legend>
              <input disabled class="font-color-reverse" value="${element.af}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
            <fieldset id="fieldset" style="padding: 0; margin: 0; border-radius: 0.6vh; width: 50%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4" style="color: black; margin: 0; padding: 0; font-size: 2.3vh">Data</legend>
              <input disabled class="font-color-reverse" value="${element.data.replace('T',' - ').replace('Z','')}" style="color: black; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
            </fieldset>
          </result>
        `
      })
    }
    listMax = listMax+100
    if (list.length >= listMax) document.getElementById('loadMore').style.display = 'flex'
  }

  (function () {
    getUser();
    document.getElementById('dataMinF').value = new Date().toISOString().slice(0, 10)+`T00:00`
  })();
</script>
<script>
  function searchBar() {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searchBar');
    filter = input.value.toUpperCase();
    ul = document.getElementById("funcionarios");
    li = ul.getElementsByTagName('proposta');
    for (i = 0; i < li.length; i++) {
      a = li[i]
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "inline";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  function searchBar2() {
    if (menuPropostaActual) menuPropostas(false, menuPropostaActual)
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searchBar2');
    filter = input.value.toUpperCase();
    ul = document.getElementById("listFunc");
    li = ul.getElementsByTagName('result');
    for (i = 0; i < li.length; i++) {
      a = li[i]
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "flex";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>