<div id="propostasPage" style="max-height: 100vh; overflow: auto; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/views/imports/navbar.html`)</script>

  <div class="background-image left18-5 width79" style="position: relative; top: 12.5vh; left: 6vw; width: 92.5vw; height: 85.5vh; border-radius: 2vh; display: flex; justify-content: center; align-items: center;">

    <div class="background-Propostas width90p" style="width: 70%; border-radius: 3vh; padding-top: 4vh; padding-bottom: 3vh">
      <div style="max-height: 62vh; overflow-y: scroll;">
        <div id="newConsultar" style="display: inline;">
          <div style="width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center;">
            <a class="font-size2" style="font-size: 4vh; width: 100%;">Nova Lista:</a>
            <fieldset title="Coloque sua lista aqui..." style="margin-top: 2vh; text-align: left; padding: 0; border-radius: 0.6vh; width: 70%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Dados</legend>
              <textarea rows="4" class="font-1" disabled placeholder="Selecione a lista antes..." id="lista" style="font-size: 2.4vh; width: 100%; padding:0; margin:0; background: transparent; border: 0"></textarea>
            </fieldset>
            <fieldset title="Coloque sua lista aqui..." style="margin-top: 2vh; text-align: left; padding: 0; border-radius: 0.6vh; width: 70%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Lista</legend>
              <select onchange="changeList(this.value)" rows="4" class="font-1" id="dados" style="font-size: 2.4vh; width: 100%; padding:0; margin:0; background: transparent; border: 0">
                <option value="" style="color: black; font-weight: 600" selected>Selecione a Lista</option>
                <option value="dados" style="color: black; font-weight: 600">Dados</option>
                <option value="leads" style="color: black; font-weight: 600">Leads</option>
              </select>
            </fieldset>
          </div>
          <div style="width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center;">
            <a id="adicionar" onclick="adicionar()" class="buttonLogin width50p" style="width: 20%; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Adicionar</a>
          </div>
          <a id="actualText" style="width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center; font-size: 2vh; margin-top: 2vh"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var lista = {
    dados: { type: ';', placeholder: "CPF;Nome;Mãe;RG;Matricula;Espécie;Cidade;UF;CEP;Endereço;Número;Bairro;Telefone;Nascimento;Sexo;Email;Banco;Agência;Conta;Poupança|" },
    leads: { type: ',', placeholder: "CPF,Nome,Telefone,Banco,Valor|" }
  }
  function changeList(list) {
    if (list && lista[list]) {
      document.getElementById('lista').placeholder = `${lista[list].placeholder}\n${lista[list].placeholder}\n${lista[list].placeholder}\n${lista[list].placeholder}`
      document.getElementById('lista').disabled = false
    } else {
      document.getElementById('lista').value = ''
      document.getElementById('lista').placeholder = `Selecione a lista antes...`
      document.getElementById('lista').disabled = true
    }
  }
  
  function adicionar(i) {
    if (document.getElementById('adicionar').classList.contains('buttonBlock')) return alert('Aguarde...')
    if (!document.getElementById('dados').value) return alert('Coloque o tipo da lista...')
    if (!document.getElementById('lista').value) return alert('Coloque a lista...')
    var list = document.getElementById('lista').value.replaceAll(/\r?\n|\r/g, "").split("|");
    if (list.length <= 0) return alert('A lista é invalida! Veja o molde e tente novamente...')
    if (list[list.length-1].length <= 5) list.splice(list.length-1, 1)
    document.getElementById('adicionar').innerHTML = `<i class="fad fa-spinner-third fa-spin"></i>`
    document.getElementById('adicionar').classList.add("buttonBlock");
    if (!i) i = 0
    $.ajax({ type: "post",url: `${apiURL}/administrativo/newlist`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        type: document.getElementById('dados').value,
        virgula: lista[document.getElementById('dados').value].type,
        list: list.slice(i,i+1000),
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        document.getElementById('adicionar').innerHTML = `Adicionar`
        document.getElementById('adicionar').classList.remove("buttonBlock");
        if (s.error) return alert(s.error)
        if (list.length > (i+1000)) return adicionar(i+1000)
        alert('Lista adicionada com sucesso...')
        return window.location.reload()
      },
      error: function(e) {
        document.getElementById('adicionar').innerHTML = `Adicionar`
        document.getElementById('adicionar').classList.remove("buttonBlock");
        if (e.error) return alert(e.error)
        if (e && e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`Ocorreu algum erro indefinido! Tente novamente mais tarde...`)
      }
    })
  }
</script>