<div id="propostasPage" style="max-height: 100vh; overflow: auto; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/views/imports/navbar.html`)</script>

  <div class="background-image left18-5 width79" style="position: relative; top: 12.5vh; left: 6vw; width: 92.5vw; height: 85.5vh; border-radius: 2vh; display: flex; justify-content: center; align-items: center;">

    <div class="background-Propostas width90p" style="width: 70%; border-radius: 3vh; padding-top: 4vh; padding-bottom: 3vh">
      <div style="max-height: 62vh; overflow-y: scroll;">
        <div id="newConsultar" style="display: inline;">
          <div style="width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center;">
            <a class="font-size2" style="font-size: 4vh; width: 100%;">Nova Lista:</a>
            <fieldset title="Coloque sua lista aqui..." style="margin-top: 2vh; text-align: left; padding: 0; border-radius: 0.6vh; width: 70%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Dados</legend>
              <textarea rows="4" class="font-1" placeholder="CPF;Nome;Mãe;RG;Matricula;Espécie;Cidade;UF;CEP;Endereço;Número;Bairro;Telefone;Nascimento;Sexo;Email;Banco;Agência;Conta;Poupança|&#10;CPF;Nome;Mãe;RG;Matricula;Espécie;Cidade;UF;CEP;Endereço;Número;Bairro;Telefone;Nascimento;Sexo;Email;Banco;Agência;Conta;Poupança|" id="lista" style="font-size: 2.4vh; width: 100%; padding:0; margin:0; background: transparent; border: 0"></textarea>
            </fieldset>
            <fieldset title="Coloque sua lista aqui..." style="margin-top: 2vh; text-align: left; padding: 0; border-radius: 0.6vh; width: 70%; margin-inline: 1%; padding-inline: 1%;">
              <legend class="font-4 font-size1-5" style="margin: 0; padding: 0; font-size: 2.3vh">Lista</legend>
              <select rows="4" class="font-1" id="dados" style="font-size: 2.4vh; width: 100%; padding:0; margin:0; background: transparent; border: 0">
                <option value="dados" style="color: black; font-weight: 600">Dados</option>
              </select>
            </fieldset>
          </div>
          <div style="width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center;">
            <a id="adicionar" onclick="adicionar()" class="buttonLogin width50p" style="width: 20%; margin-top: 3vh; font-size: 2.8vh; padding-block: 1.5vh; border-radius: 1.5vh">Adicionar</a>
          </div>
          <a id="actualText" style="width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center; font-size: 2vh; margin-top: 2vh"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var dados = []
  function adicionar() {
    dados = []
    if (document.getElementById('adicionar').classList.contains('buttonBlock')) return alert('Aguarde...')
    if (!document.getElementById('lista') || !document.getElementById('lista').value) return alert('Coloque a lista...')
    dados = document.getElementById('lista').value.replaceAll(/\r?\n|\r/g, "").split("|");
    document.getElementById('adicionar').innerHTML = `<i class="fad fa-spinner-third fa-spin"></i>`
    document.getElementById('adicionar').classList.add("buttonBlock");
    return adicionarRow()
  }
  async function adicionarRow() {
    dados[0] = dados[0].replaceAll(/\r?\n|\r/g,"").split(";");
    dados[0][0] = dados[0][0].replaceAll('.',"").replaceAll('-',"")
    if (dados[0][0] && dados[0][0].length == 11 && Number(dados[0][0])) {
      document.getElementById('actualText').innerHTML = `Adicionado: ${dados[0][0]} - Faltam: ${dados.length}`
      $.ajax({ type: "post",url: `https://api.concredito.com.br/administrativo/newList`,
        data: JSON.stringify({
          user: localStorage.getItem('user'),
          password: localStorage.getItem('password'),
          row: dados[0]
        }), contentType:"application/json; charset=utf-8",
        success: async function(s) {
          if (s.error) alert(s.error)
          dados.splice(0,1)
          if (dados[0]) {
            return setTimeout(()=>{ return adicionarRow() }, 1000)
          } else {
            dados = []
            document.getElementById('adicionar').innerHTML = `Adicionar`
            document.getElementById('adicionar').classList.remove("buttonBlock");
            alert('Lista Finalizada...')
          }
        },
        error: function(e) {
          if (e.error) alert(e.error)
          if (e && e.responseJSON && e.responseJSON.error) alert(e.responseJSON.error)
          alert(`Ocorreu algum erro indefinido! Mande print do erro para o Yuri:\n ${JSON.stringify(e)}`)
          dados.splice(0,1)
          if (dados[0]) {
            return setTimeout(()=>{ return adicionarRow() }, 1000)
          } else {
            dados = []
            document.getElementById('adicionar').innerHTML = `Adicionar`
            document.getElementById('adicionar').classList.remove("buttonBlock");
            alert('Lista Finalizada...')
          }
        }
      })
    } else {
      dados.splice(0,1)
      if (dados[0]) {
        return setTimeout(()=>{ return adicionarRow() }, 1)
      } else {
        dados = []
        document.getElementById('adicionar').innerHTML = `Adicionar`
        document.getElementById('adicionar').classList.remove("buttonBlock");
        alert('Lista Finalizada...')
      }
    }
  }
</script>