<div id="propostasPage" style="max-height: 100vh; overflow: auto; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; max-width: 100vw; overflow-x: hidden;">
  <navbar id="navbar"></navbar>
  <script>$("#navbar").load(`/imports/navbar.html`)</script>

  <div class="flex-direction-column margin-left38" style="width: 92.5vw; display: flex; justify-content: center; margin-left: 6vw; margin-top: 12.5vh;">
    <div class="background-image width40 height15" style="margin-bottom: 0.5vh; width: 65vw; border-radius: 2vh; height: 5vw; margin-inline: 0.6vw; display: flex; flex-direction: row; justify-content: center; align-items: center; padding-inline: 2vw">
      <fieldset title="Coloque o objetivo em porcentagem..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 19%; margin-inline: 1%; padding-inline: 1%;">
        <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Relatorio</legend>
        <select id="relatorio" style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
          <option style="color: black" value="funcionarios">Meu Relatorio</option>
          <option style="color: black" value="empresa">Empresa</option>
          <optgroup id="equipes" label="Equipes">
            <option style="color: black" value="equipe-MARCIA">TROPA DE ELITE</option>
            <option style="color: black" value="equipe-RAFAELA">ALFAS DO LITORAL</option>
            <option style="color: black" value="equipe-CARLOSRACHI">REIS DA SAVANA</option>
            <option style="color: black" value="equipe-VANDREI">SOBRENOME SUCESSO</option>
            <option style="color: black" value="equipe-DEBORA">ONDE A MAGIA ACONTECE</option>
            <option style="color: black" value="equipe-JESSICA">CONSTRUINDO SONHOS</option>
          </optgroup>
          <optgroup id="funcs" label="Funcionários">
          </select>
      </fieldset>
      <fieldset title="Coloque o objetivo em porcentagem..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
        <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Data Inicial</legend>
        <input type="datetime-local" id="dateIni" style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
      </fieldset>
      <fieldset title="Coloque o objetivo em porcentagem..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
        <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Data Final</legend>
        <input type="datetime-local"id="dateEnd" style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
      </fieldset>
      <fieldset title="Coloque o objetivo em porcentagem..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 11%; margin-inline: 1%; padding-inline: 1%;">
        <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Objetivo</legend>
        <input onkeyup="changeComissao()" type="text" placeholder="100%" value="100%" id="objetivo" style="padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
      </fieldset>
      <fieldset title="Sua comissão conforme o objetivo..." style="padding: 0; margin: 0; border-radius: 0.6vh; width: 15%; margin-inline: 1%; padding-inline: 1%;">
        <legend class="font-4" style="margin: 0; padding: 0; font-size: 2.3vh">Comissão</legend>
        <input disabled value="R$ 800,00" id="comissaoObj" style="color: red; padding:0; margin:0; font-size: 2.5vh; width: 100%; height: 4vh; background: transparent; border: 0">
      </fieldset>
      <i onclick="relatorio()" class="fa-regular fa-magnifying-glass-dollar font-color-navbar" style="font-size: 3.5vh; margin-left: 0.8vw; margin-top: 1vh; cursor: pointer"></i>
    </div>
  </div>

  <div class="flex-direction-column margin-left38" style="width: 92.5vw; display: flex; justify-content: center; margin-left: 6vw; margin-top: 1vh;">
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-comet font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Meta:</a>
      <a id="topMeta" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
      <a id="topComissao" class="font-color-navbar" style="padding-top: 0.5vh; font-size: 2.1vh; margin-top:0vh; font-weight: 600;"></a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-regular fa-scale-balanced font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Med. AF's Dia:</a>
      <a id="topAFsDia" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-ticket font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Tck. Médio:</a>
      <a id="topTicket" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-projector font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Projeção:</a>
      <a id="topProjecao" class="font-color-navbar" style="font-size: 2.3vh; margin-top:1vh; font-weight: 600;">0</a>
      <a id="topProjecaoCom" class="font-color-navbar" style="padding-top: 0.5vh; font-size: 2.2vh; margin-top:0vh; font-weight: 600;"></a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="far fa-money-check-edit font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">AF's Restante:</a>
      <a id="topAFsRestante" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-money-check-dollar font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Valor Restante:</a>
      <a id="topValorRestante" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-sack-dollar font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Valor Rest. Dia:</a>
      <a id="topValorDia" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
  </div>

  <div class="flex-direction-column margin-left18-5 width79" style="margin-block: 0.5vh; width: 92.5vw; display: flex; justify-content: center; margin-left: 6vw; margin-top: 1vh;">
    <div id="grafico1" class="background-image width79 height50" style="margin-block: 0.5vh; position: relative; height: 60vh; border-radius: 2vh; display: flex; flex-direction: column; align-items: center; width: 28vw; max-width: 28vw; overflow-x: hidden; margin-right: 2vw">
    
    </div>
    <div id="grafico2" class="background-image width79 height30" style="margin-block: 0.5vh; position: relative; height: 60vh; border-radius: 2vh; display: flex; flex-direction: column; align-items: center; width: 55vw; overflow-x: hidden">
      
    </div>
  </div>

  <div class="flex-direction-column margin-left38" style="width: 92.5vw; display: flex; justify-content: center; margin-left: 6vw; margin-top: 2vh;">
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-regular fa-money-bill-trend-up font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Liberado:</a>
      <a id="topLiberado" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-hexagon-check font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Sucessos:</a>
      <a onclick="downloadCSV('Sucessos')" id="topSucessos" class="font-color-navbar" style="cursor: pointer; text-decoration: underline; font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-hexagon-exclamation font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Erros:</a>
      <a onclick="downloadCSV('Erros')" id="topErros" class="font-color-navbar" style="cursor: pointer; text-decoration: underline; font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-ballot-check font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Total:</a>
      <a id="topTotal" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-chart-simple font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">MED. P/DIA QNT.</a>
      <a id="topMedAfPorDiaQnt" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-regular fa-scale-balanced font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">MED. P/DIA VAL.</a>
      <a id="topMedAfPorDiaValor" class="font-color-navbar" style="font-size: 2.4vh; margin-top:1vh; font-weight: 600;">0</a>
    </div>
    <div class="background-image width40 height20" style="margin-bottom: 0.5vh; width: 10vw; border-radius: 2vh; height: 10vw; margin-inline: 0.6vw; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <i class="fa-solid fa-ticket font-color-navbar" style="font-size: 6vh"></i>
      <a style="font-size: 2.5vh; margin-top: 2vh; font-weight: 600;">Tck. Médio:</a>
      <a id="topTicket2" class="font-color-navbar" style="font-size: 2.4vh; margin-top: 1vh; font-weight: 600;">0</a>
    </div>
  </div>

  <div class="flex-direction-column margin-left18-5 width79" style="margin-block: 0.5vh; width: 92.5vw; display: flex; justify-content: center; margin-left: 6vw; margin-top: 1vh;">
    <div id="grafico3" class="background-image width79 height50" style="margin-block: 0.5vh; position: relative; height: 60vh; border-radius: 2vh; display: flex; flex-direction: column; align-items: center; width: 28vw; max-width: 28vw; overflow-x: hidden; margin-right: 2vw">
    
    </div>

    <div id="listLiberado">
    
    </div>
  </div>

</div>
<script>
  var fgts = []

  var block = false
  function relatorio() {
    if (block) return alert('Aguarde...')
    var objetivoReq = false
    if (document.getElementById('objetivo').value) {
      objetivoReq = document.getElementById('objetivo').value.replace('%','')
      if (!Number(objetivoReq)) return alert('O objetivo deve ser um numero...')
    }
    if (objetivoReq && !Number(objetivoReq)) return alert('O objetivo deve ser um numero...')
    document.getElementById('topMeta').innerHTML = `0%`
    document.getElementById('topComissao').innerHTML = ``
    document.getElementById('topAFsDia').innerHTML = 0
    document.getElementById('topTicket').innerHTML = 0
    document.getElementById('topValorRestante').innerHTML = 0
    document.getElementById('topProjecao').innerHTML = `0%`
    document.getElementById('topProjecaoCom').innerHTML = ``
    document.getElementById('topProjecaoCom').innerHTML = 0
    document.getElementById('topAFsRestante').innerHTML = 0
    document.getElementById('topValorDia').innerHTML = 0
    document.getElementById('topLiberado').innerHTML = 0
    document.getElementById('topSucessos').innerHTML = 0
    document.getElementById('topErros').innerHTML = 0
    document.getElementById('topTotal').innerHTML = 0
    document.getElementById('topMedAfPorDiaQnt').innerHTML = 0
    document.getElementById('topMedAfPorDiaValor').innerHTML = 0
    document.getElementById('topTicket2').innerHTML = 0
    document.getElementById('listLiberado').innerHTML = ``
    document.getElementById('grafico1').innerHTML = `<div style="width: 100%; height: 30vh; display: flex; justify-content: center; align-items: center"><div class="loader-wheel"></div><div class="loader-text font-5"></div></div>`
    document.getElementById('grafico2').innerHTML = `<div style="width: 100%; height: 30vh; display: flex; justify-content: center; align-items: center"><div class="loader-wheel"></div><div class="loader-text font-5"></div></div>`
    document.getElementById('grafico3').innerHTML = `<div style="width: 100%; height: 30vh; display: flex; justify-content: center; align-items: center"><div class="loader-wheel"></div><div class="loader-text font-5"></div></div>`
    block = true

    var url = document.getElementById('relatorio').value
    var funcionario = localStorage.getItem('user')
    if (document.getElementById('relatorio').value && document.getElementById('relatorio').value.includes('-')) {
      url = document.getElementById('relatorio').value.split('-')[0]
      funcionario = document.getElementById('relatorio').value.split('-')[1]
    }

    $.ajax({ type: "post",url: `${apiURL}/administrativo/relatorios/${url}`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password'),
        dataMin: document.getElementById('dateIni').value,
        dataMax: document.getElementById('dateEnd').value,
        objetivo: objetivoReq,
        funcionario: funcionario,
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        block = false
        document.getElementById('grafico1').innerHTML = ``
        document.getElementById('grafico2').innerHTML = ``
        document.getElementById('grafico3').innerHTML = ``
        if (s.error) return alert(s.error)
        fgts = s.list
        document.getElementById('topMeta').innerHTML = `${s.grafico.meta ? s.grafico.meta : 0}%`
        var comissaoMeta = comissao.find(r=>s.grafico.meta >= r.min && s.grafico.meta < r.max)
        if (comissaoMeta) document.getElementById('topComissao').innerHTML = `R$ ${comissaoMeta.comissao},00`
        document.getElementById('topAFsDia').innerHTML = s.grafico.afsPorDia ? s.grafico.afsPorDia : 0
        document.getElementById('topTicket').innerHTML = s.grafico.ticketMed ? `R$ `+s.grafico.ticketMed.replace('.',',') : 0
        document.getElementById('topValorRestante').innerHTML = s.grafico.valorRestante ? `R$ `+s.grafico.valorRestante.replace('.',',') : 0
        document.getElementById('topProjecao').innerHTML = `${s.grafico.metaMes ? s.grafico.metaMes : 0}%`
        var comissaoMeta = comissao.find(r=>s.grafico.metaMes >= r.min && s.grafico.metaMes < r.max)
        if (comissaoMeta) document.getElementById('topProjecaoCom').innerHTML = `R$ ${comissaoMeta.comissao},00`
        document.getElementById('topAFsRestante').innerHTML = s.grafico.AFsRestante ? s.grafico.AFsRestante.replace('.',',') : 0
        document.getElementById('topValorDia').innerHTML = s.grafico.valorDia ? s.grafico.valorDia.replace('.',',') : 0
        document.getElementById('grafico1').innerHTML = `
          <a class="font-1" style="font-size: 4vh; margin-top: 4vh">Mídias</a>
          <canvas id="graficoMidias" class="width80" style="position: absolute; top: 5.5vh; width: 26vw; margin-top: 6vh"></canvas>
          <div class="margin-top25" style="display: flex; margin-top: 34vh; width: 80%; margin-inline: 10%">
            <div style="display: flex; flex-direction: column; min-width: 50%; text-align: left">
              ${s.grafico.midias.slice(0,s.grafico.midias.length/2).map(r=>`<a style="border-left: 0.8vh solid ${r.color}; border-radius: 0.3vh; margin-block: 0.4vh; padding-left: 0.6vw; font-size: 2.2vh;">${r.label}</a>`).join('')}
            </div>
            <div style="display: flex; flex-direction: column; width: 40% text-align: right; margin-left: 10%">
              ${s.grafico.midias.slice(s.grafico.midias.length/2,s.grafico.midias.length).map(r=>`<a style="border-left: 0.8vh solid ${r.color}; border-radius: 0.3vh; margin-block: 0.4vh; padding-left: 0.6vw; font-size: 2.2vh;">${r.label}</a>`).join('')}
            </div>
          </div>
        `
        var graficoMidias = document.getElementById("graficoMidias").getContext("2d");
        new Chart(graficoMidias).Doughnut(s.grafico.midias);

        var months = {
          '1': 'Janeiro',
          '2': 'Fevereiro',
          '3': 'Março',
          '4': 'Abril',
          '5': 'Maio',
          '6': 'Junho',
          '7': 'Julho',
          '8': 'Agosto',
          '9': 'Setembro',
          '10': 'Outubro',
          '11': 'Novembro',
          '12': 'Dezembro'
        }
        document.getElementById('grafico2').innerHTML = `
          <a class="font-1" style="font-size: 4vh; margin-top: 4vh">Pago por Dia</a>
          <div id="graficoMeses" class="width85 height18" style="position: absolute; left: -1vw; top: 15vh; width:60vw; height: 23vw; margin-top: -6vh; font-weight: 600"></div>
        `
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawCurveTypes);
        function drawCurveTypes() {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'X');
          data.addColumn('number', months[s.grafico.mes-2]);
          data.addColumn('number', months[s.grafico.mes-1]);
          data.addColumn('number', months[s.grafico.mes]);
          data.addRows(s.grafico.months);
          var optionsGraficoMeses = {
            legend: { position: 'bottom', textStyle: {color: '#01579b'} },
            hAxis: { 
              textStyle: { color: '#01579b', fontName: 'Arial', bold: true, italic: true },
              titleTextStyle: { color: '#01579b', fontName: 'Arial', bold: true, italic: true },
            },
            vAxis: {
              textStyle: { color: '#01579b', fontName: 'Arial', bold: true, italic: true },
              titleTextStyle: { color: '#01579b', fontName: 'Arial', bold: true, italic: true },
            },
            backgroundColor: 'transparent',
          };
          var graficoMeses = new google.visualization.LineChart(document.getElementById('graficoMeses'));
          graficoMeses.draw(data, optionsGraficoMeses);
        }

        document.getElementById('topLiberado').innerHTML = s.total ? `R$ `+String(s.total).replace('.',',') : 0
        document.getElementById('topSucessos').innerHTML = s.list.filter(r=>!r.error).length
        document.getElementById('topErros').innerHTML = s.list.filter(r=>!r.liberado).length
        document.getElementById('topTotal').innerHTML = s.list.length
        document.getElementById('topMedAfPorDiaQnt').innerHTML = s.grafico.medQnt
        document.getElementById('topMedAfPorDiaValor').innerHTML = `R$ ${s.grafico.medValor.replace('.',',')}`
        document.getElementById('topTicket2').innerHTML = s.grafico.medTicket && Number(s.grafico.medTicket) ? `R$ `+s.grafico.medTicket.replace('.',',') : 0
        document.getElementById('grafico3').innerHTML = `
          <a class="font-1" style="font-size: 4vh; margin-top: 4vh">Bancos</a>
          <canvas id="graficoBanks" class="width80" style="position: absolute; top: 5.5vh; width: 26vw; margin-top: 6vh"></canvas>
          <div class="margin-top25" style="display: flex; margin-top: 36vh; width: 80%; margin-inline: 10%">
            <div style="display: flex; flex-direction: column; min-width: 50%; text-align: left">
              ${s.grafico.banks.slice(0,s.grafico.banks.length/2).map(r=>`<a style="border-left: 0.8vh solid ${r.color}; border-radius: 0.3vh; margin-block: 0.4vh; padding-left: 0.6vw; font-size: 2.2vh;">${r.label}</a>`).join('')}
            </div>
            <div style="display: flex; flex-direction: column; width: 40% text-align: right; margin-left: 10%">
              ${s.grafico.banks.slice(s.grafico.banks.length/2,s.grafico.banks.length).map(r=>`<a style="border-left: 0.8vh solid ${r.color}; border-radius: 0.3vh; margin-block: 0.4vh; padding-left: 0.6vw; font-size: 2.2vh;">${r.label}</a>`).join('')}
            </div>
          </div>
        `
        var graficoBanks = document.getElementById("graficoBanks").getContext("2d");
        new Chart(graficoBanks).Pie(s.grafico.banks);
        if (s.grafico.liberado && s.grafico.liberado.length >= 1) {
          document.getElementById('listLiberado').innerHTML = `<div class="background-image width79 height50" style="margin-block: 0.5vh; position: relative; height: 60vh; max-height: 60vh; overflow-y: auto; border-radius: 2vh; display: flex; flex-direction: column; align-items: center; width: 28vw; max-width: 28vw; overflow-x: hidden; margin-right: 2vw">
            <a class="font-1" style="font-size: 4vh; margin-top: 4vh">Lista Liberado</a>
            <div id="listaLiberado" style="width: 100%; margin-top: 2vh">

            </div>
          </div>`
          s.grafico.liberado.forEach((element,index)=>{
            document.getElementById('listaLiberado').innerHTML += `
            <div style="display: flex; width: 100%; margin-block: 0.3vh">
              <div style="width: 63%; margin-left: 5%">
                <a style="font-size: 2.8vh">${element.user}</a>
              </div>
              <div style="width: 32%">
                <a style="font-size: 2.5vh; font-weight: 600">R$ ${String(element.liberado).replace('.',',')}</a>
              </div>
            </div>
            `
          })
        }
      },
      error: function(e) {
        block = false
        document.getElementById('grafico1').innerHTML = ``
        document.getElementById('grafico2').innerHTML = ``
        document.getElementById('grafico3').innerHTML = ``
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API demorou muito para retornar uma resposta valida... Erro:\n${JSON.stringify(e)}`)
      }
    })
  }

  var comissao = [
    { min: 50, max: 70, comissao: 200 },
    { min: 70, max: 100, comissao: 300 },
    { min: 100, max: 130, comissao: 800 },
    { min: 130, max: 150, comissao: 1600 },
    { min: 150, max: 180, comissao: 2000 },
    { min: 180, max: 200, comissao: 3000 },
    { min: 200, max: 250, comissao: 3500 },
    { min: 250, max: 300, comissao: 5000 },
    { min: 300, max: 330, comissao: 6000 },
    { min: 330, max: 360, comissao: 7000 },
    { min: 360, max: 400, comissao: 8000 },
    { min: 400, max: 9999999, comissao: 10000 },
  ]
  function changeComissao() {
    if (document.getElementById('objetivo').value) {
      var meta = document.getElementById('objetivo').value.replace('%','')
      if (!meta || !Number(meta)) return document.getElementById('comissaoObj').value = `R$ 00,00`;
      var comissaoMeta = comissao.find(r=>meta >= r.min && meta < r.max)
      if (comissaoMeta) {
        document.getElementById('comissaoObj').value = `R$ ${comissaoMeta.comissao},00`
      } else document.getElementById('comissaoObj').value = `R$ 00,00`
    } else document.getElementById('comissaoObj').value = `R$ 00,00`
  }

  async function downloadCSV(type) {
    if (block) return alert('Aguarde...')
    if (!fgts || fgts.length <= 0) return alert(`A lista de resultados está vazia...`)
    if (type == "Sucessos" && fgts.filter(r=>r.liberado).length <= 0) return alert('Essa lista está vazia...')
    if (type == "Erros" && fgts.filter(r=>r.error).length <= 0) return alert('Essa lista está vazia...')
    block = true
    var csv = false
    if (type == 'Sucessos') {
      csv = `CPF,BANCO,TOTAL,LIBERADO,TELEFONE,DATA`
      await fgts.filter(r=>r.liberado).map((element,index)=>{
        csv+=`\n${element.cpf},${element.bank},${element.total.replaceAll(',','.')},${element.liberado.replaceAll(',','.')},${element.telefone},${element.data}`
      })
    } else {
      csv = `CPF,BANCO,ERRO`
      await fgts.filter(r=>r.error).map((element,index)=>{
        csv+=`\n${element.cpf},${element.bank},${element.error}`
      })
    }
    var a = document.createElement('a');
    a.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    a.target = '_blank';
    a.download = `lotesFGTS-${type}.csv`;
    a.click();
    block = false
  }

  var agentesBlock = false
  function getAgentes() {
    if (agentesBlock) return alert('Aguarde...')
    agentesBlock = true
    $.ajax({ type: "post",url: `${apiURL}/logins/get`,
      data: JSON.stringify({
        user: localStorage.getItem('user'),
        password: localStorage.getItem('password')
      }), contentType:"application/json; charset=utf-8",
      success: async function(s) {
        agentesBlock = false
        s.logins.forEach((element,index) => {
          document.getElementById('funcs').innerHTML += `<option style="color: black" value="funcionarios-${element.user}">${element.user}</option>`
        });
      },
      error: function(e) {
        agentesBlock = false
        if (e.responseJSON && e.responseJSON.error) return alert(e.responseJSON.error)
        return alert(`A minha API demorou muito para retornar uma resposta valida... Erro:\n${JSON.stringify(e)}`)
      }
    })
  }

  (async function () {
    var date = new Date();
    date.setHours(date.getHours() - 3);
    document.getElementById('dateIni').value = date.toISOString().slice(0, 10)+`T00:00`
    await getAgentes()
    return relatorio()
  })();
</script>
